Blume_NodeRed_import.txt
[{"id":"5a7d50a4.4ea17","type":"tab","label":"Thingiverse_Nanoleafs","disabled":false,"info":""},{"id":"6c769190.06a72","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":370,"y":520,"wires":[["49c9457e.c586ac"],["ab5cbc81.17fe"],["1f78671c.7e00c9"],["21953527.e8872a"],["3c574726.a4f008"],["f3c9d7d4.f48428"],["8506d652.eab448"]]},{"id":"78c3b70a.3d8168","type":"config","z":"5a7d50a4.4ea17","name":"Blume-Config","properties":[{"p":"Nanoleaf","pt":"global","to":"192.168.2.30","tot":"str"},{"p":"NanoleafBrightness","pt":"global","to":"150","tot":"str"},{"p":"NanoleafSpeed","pt":"global","to":"30","tot":"str"}],"active":true,"x":260,"y":320,"wires":[]},{"id":"d3a31d41.20dbd","type":"comment","z":"5a7d50a4.4ea17","name":"Enter the IP of the Flower and the amount of Leafs below, click the latch afterwards","info":"","x":470,"y":280,"wires":[]},{"id":"f3c9d7d4.f48428","type":"function","z":"5a7d50a4.4ea17","name":"Multiply Values","func":"//var h = msg.payload.hue;\ntypeof query !== 'undefined'\nmsg.payload.hue = msg.payload.hue;\nmsg.payload.saturation = msg.payload.saturation * 100;\nmsg.payload.brightness = msg.payload.brightness * 100;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":680,"wires":[["c0d91ed2.7948a"]]},{"id":"c0d91ed2.7948a","type":"color-convert","z":"5a7d50a4.4ea17","input":"hsv","output":"rgb","outputType":"array","x":750,"y":680,"wires":[["6845c143.507a4"]]},{"id":"6845c143.507a4","type":"function","z":"5a7d50a4.4ea17","name":"Set Color, Normal Mode","func":"var input = [];\ninput = msg.payload;\nvar r = input[0];\nvar g = input[1];\nvar b = input[2];\nmsg.payload = \"solidColor?r=\" + r+\"&g=\"+g+\"&b=\"+b;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":680,"wires":[["4dc347dc.4b8638"]]},{"id":"4dc347dc.4b8638","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafOUT","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1115,"y":540,"wires":[]},{"id":"8506d652.eab448","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":720,"wires":[]},{"id":"49c9457e.c586ac","type":"change","z":"5a7d50a4.4ea17","name":"Turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"power?value=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":480,"wires":[["4dc347dc.4b8638"]]},{"id":"ab5cbc81.17fe","type":"change","z":"5a7d50a4.4ea17","name":"Turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"power?value=0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":520,"wires":[["76561b69.56a584"]]},{"id":"1f78671c.7e00c9","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":560,"y":560,"wires":[["b5cb1774.8ebc18"]]},{"id":"b5cb1774.8ebc18","type":"function","z":"5a7d50a4.4ea17","name":"Set Brightness","func":"global.set(\"NanoleafBrightness\", msg.payload);\nmsg.payload = \"brightness?value=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":560,"wires":[["4dc347dc.4b8638"]]},{"id":"21953527.e8872a","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":560,"y":600,"wires":[["72c70a94.996384"]]},{"id":"72c70a94.996384","type":"function","z":"5a7d50a4.4ea17","name":"Set Brightness","func":"var x = global.get(\"NanoleafBrightness\");\nif(x==null)x=100;\nx+=msg.payload;\nglobal.set(\"NanoleafBrightness\", x);\nmsg.payload = \"brightness?value=\" + x;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":600,"wires":[["4dc347dc.4b8638"]]},{"id":"e42b09b5.51aca8","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa nodes below and choose the ones from the list that should control brightness, color, on/off, you might as well add others or delete some","info":"","x":670,"y":440,"wires":[]},{"id":"28ae2927.8d6b46","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55919","acknoledge":true,"name":"Blume","topic":"","x":230,"y":520,"wires":[["6c769190.06a72"]]},{"id":"afc6a3f.2a4a36","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55934","acknoledge":true,"name":"Blume speed","topic":"","x":250,"y":1040,"wires":[["3f49da36.598896"]]},{"id":"943db60c.ff0a08","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":1160,"wires":[]},{"id":"a60da8b6.d8cc78","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa node below and choose the one that should control the speed of the patterns","info":"","x":490,"y":1000,"wires":[]},{"id":"1b1abf2e.59ebb1","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":580,"y":1080,"wires":[["c7c24a74.d3f608"]]},{"id":"c7c24a74.d3f608","type":"function","z":"5a7d50a4.4ea17","name":"Set Speed","func":"var x = global.get(\"NanoleafSpeed\");\nif(x==null)x=30;\nx+=msg.payload;\nglobal.set(\"NanoleafSpeed\", x);\nmsg.payload = \"speed?value=\" + x;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1080,"wires":[["7d4a8ab6.9efa14"]]},{"id":"3f49da36.598896","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":1060,"wires":[["45ee3f33.9c11b"],["1b1abf2e.59ebb1"],["46cbb249.775bfc"],["943db60c.ff0a08"]]},{"id":"45ee3f33.9c11b","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":580,"y":1040,"wires":[["eab9f61a.089a18"]]},{"id":"eab9f61a.089a18","type":"function","z":"5a7d50a4.4ea17","name":"Set Speed","func":"global.set(\"NanoleafSpeed\", msg.payload);\nmsg.payload = \"speed?value=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1040,"wires":[["7d4a8ab6.9efa14"]]},{"id":"3c574726.a4f008","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"-100","minout":"0","maxout":"-255","action":"scale","round":true,"property":"payload","name":"","x":560,"y":640,"wires":[["72c70a94.996384"]]},{"id":"46cbb249.775bfc","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"-100","minout":"0","maxout":"-255","action":"scale","round":true,"property":"payload","name":"","x":580,"y":1120,"wires":[["c7c24a74.d3f608"]]},{"id":"7d4a8ab6.9efa14","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafSpeed","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":855,"y":1060,"wires":[]},{"id":"1495b9af.356f86","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55975","acknoledge":true,"name":"Blume automatisch","topic":"","x":270,"y":1300,"wires":[["a9a12f8a.608f9"]]},{"id":"ff9ef260.6571d","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":1480,"wires":[]},{"id":"158c3a86.851ef5","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa node below and choose the one that should control the Autoplay functionality","info":"","x":490,"y":1240,"wires":[]},{"id":"c8274ce8.921ae","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":600,"y":1400,"wires":[["f3077ca6.53ce5"]]},{"id":"f3077ca6.53ce5","type":"function","z":"5a7d50a4.4ea17","name":"Set Duration","func":"var x = global.get(\"NanoleafAutoplayDuration\");\nif(x==null)x=30;\nx+=msg.payload;\nglobal.set(\"NanoleafAutoplayDuration\", x);\nmsg.payload = \"autoplayDuration?value=\" + x;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1400,"wires":[["4441aa69.8d3804"]]},{"id":"b60211ce.a2797","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":600,"y":1360,"wires":[["68d9bda3.b84234"]]},{"id":"68d9bda3.b84234","type":"function","z":"5a7d50a4.4ea17","name":"Set Duration","func":"global.set(\"NanoleafAutoplayDuration\", msg.payload);\nmsg.payload = \"autoplayDuration?value=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1360,"wires":[["4441aa69.8d3804"]]},{"id":"7c0cbcd2.5b6e44","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"-100","minout":"0","maxout":"-255","action":"scale","round":true,"property":"payload","name":"","x":600,"y":1440,"wires":[["f3077ca6.53ce5"]]},{"id":"4441aa69.8d3804","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafAutoplay","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":875,"y":1300,"wires":[]},{"id":"a9a12f8a.608f9","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":430,"y":1320,"wires":[["8f8a73cf.04af3"],["1b5d1854.b7cba8"],["b60211ce.a2797"],["c8274ce8.921ae"],["7c0cbcd2.5b6e44"],["ff9ef260.6571d"]]},{"id":"8f8a73cf.04af3","type":"change","z":"5a7d50a4.4ea17","name":"Autoplay on","rules":[{"t":"set","p":"payload","pt":"msg","to":"autoplay?value=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1280,"wires":[["4441aa69.8d3804"]]},{"id":"1b5d1854.b7cba8","type":"change","z":"5a7d50a4.4ea17","name":"Autoplay off","rules":[{"t":"set","p":"payload","pt":"msg","to":"autoplay?value=0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1320,"wires":[["4441aa69.8d3804"]]},{"id":"edb73cea.4f97a","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55935","acknoledge":true,"name":"Blume Farben","topic":"","x":250,"y":1600,"wires":[["ece1a549.d0e178"]]},{"id":"ece1a549.d0e178","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":1620,"wires":[["24188e9d.3a5dd2","a0ddef57.9a378"],["9cada1b7.e25c7"],["72fa5c9f.a00614"]]},{"id":"72fa5c9f.a00614","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":1720,"wires":[]},{"id":"24188e9d.3a5dd2","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 0 (Pride)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1600,"wires":[["6915cfb8.0fb0c"]]},{"id":"9cada1b7.e25c7","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1680,"wires":[["6915cfb8.0fb0c"]]},{"id":"6915cfb8.0fb0c","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafDefault","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":817,"y":1618,"wires":[]},{"id":"975a4c36.80b16","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa node below and choose the one that should control the default mode","info":"","x":470,"y":1560,"wires":[]},{"id":"a0ddef57.9a378","type":"change","z":"5a7d50a4.4ea17","name":"Set Brightness 120","rules":[{"t":"set","p":"payload","pt":"msg","to":"brightness?value=120","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1640,"wires":[["6915cfb8.0fb0c"]]},{"id":"2c3d42a0.a95d5e","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55925","acknoledge":true,"name":"Blume sinelon","topic":"","x":250,"y":1840,"wires":[["26394983.214766"]]},{"id":"26394983.214766","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":1860,"wires":[["64ea9c9b.2f3804","be02459a.37c578","30d80c63.a172e4"],["fb3550a3.680b"],["c9a107cc.6d11f8"]]},{"id":"c9a107cc.6d11f8","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":2000,"wires":[]},{"id":"64ea9c9b.2f3804","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 24 (Sinelon)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=24","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1840,"wires":[["5fb7f314.a8319c"]]},{"id":"fb3550a3.680b","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1960,"wires":[["5fb7f314.a8319c"]]},{"id":"5fb7f314.a8319c","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafDefault","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":817,"y":1858,"wires":[]},{"id":"9501b46b.554b98","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa node below and choose the one that should control the theme Nr.1","info":"","x":460,"y":1800,"wires":[]},{"id":"be02459a.37c578","type":"change","z":"5a7d50a4.4ea17","name":"Set Brightness 255","rules":[{"t":"set","p":"payload","pt":"msg","to":"brightness?value=255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1880,"wires":[["5fb7f314.a8319c"]]},{"id":"7d0dfa8e.82c734","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55969","acknoledge":true,"name":"Blume beat","topic":"","x":250,"y":2120,"wires":[["39a10d.efedbef4"]]},{"id":"39a10d.efedbef4","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":2140,"wires":[["bb2e0c6d.2a1ff","5c45a713.355e38","7a7b993.2bd8e68"],["10bac491.e9efcb"],["404cfb32.a462c4"]]},{"id":"404cfb32.a462c4","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":2280,"wires":[]},{"id":"bb2e0c6d.2a1ff","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 25 (Beat)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=25","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2120,"wires":[["229f59f9.b1ecd6"]]},{"id":"10bac491.e9efcb","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2240,"wires":[["229f59f9.b1ecd6"]]},{"id":"229f59f9.b1ecd6","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafDefault","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":817,"y":2138,"wires":[]},{"id":"888353ac.2e479","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa node below and choose the one that should control the theme Nr.2","info":"","x":460,"y":2080,"wires":[]},{"id":"5c45a713.355e38","type":"change","z":"5a7d50a4.4ea17","name":"Set Brightness 255","rules":[{"t":"set","p":"payload","pt":"msg","to":"brightness?value=255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2160,"wires":[["229f59f9.b1ecd6"]]},{"id":"7a7b993.2bd8e68","type":"change","z":"5a7d50a4.4ea17","name":"Set Palette 4 (Ocean)","rules":[{"t":"set","p":"payload","pt":"msg","to":"palette?value=4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2200,"wires":[["229f59f9.b1ecd6"]]},{"id":"30d80c63.a172e4","type":"change","z":"5a7d50a4.4ea17","name":"Set Palette 6 (Party)","rules":[{"t":"set","p":"payload","pt":"msg","to":"palette?value=6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1920,"wires":[["5fb7f314.a8319c"]]},{"id":"dcaa08f5.733698","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55973","acknoledge":true,"name":"Blume Lieblingsfarbe","topic":"","x":220,"y":2400,"wires":[["bf4a3432.5fb808"]]},{"id":"bf4a3432.5fb808","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":2420,"wires":[["c28c9308.cad9"],["8acfd91d.709848"],["68652c94.91fbd4"]]},{"id":"68652c94.91fbd4","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":2480,"wires":[]},{"id":"c28c9308.cad9","type":"change","z":"5a7d50a4.4ea17","name":"Set custom rgb (255;51;204)","rules":[{"t":"set","p":"payload","pt":"msg","to":"solidColor?r=255&g=51&b=204","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2400,"wires":[["4e9a7b56.8b0024"]]},{"id":"8acfd91d.709848","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2440,"wires":[["4e9a7b56.8b0024"]]},{"id":"4e9a7b56.8b0024","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafDefault","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":817,"y":2418,"wires":[]},{"id":"5555ca2c.431e94","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa node below and choose the one that should control the theme Nr.2","info":"","x":460,"y":2360,"wires":[]},{"id":"b80c13ff.6d3dd","type":"ui_switch","z":"5a7d50a4.4ea17","name":"","label":"Power","group":"70208005.5af58","order":2,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1710,"y":140,"wires":[["266afce.5322604"]]},{"id":"bcd200af.5afd3","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafDMain","links":["a1a17089.5755e","4765474c.029bc8"],"x":2135,"y":180,"wires":[]},{"id":"266afce.5322604","type":"function","z":"5a7d50a4.4ea17","name":"On/Off","func":"if(msg.payload)msg.payload=\"power?value=1\";\nelse msg.payload = \"power?value=0\";\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":140,"wires":[["bcd200af.5afd3"]]},{"id":"ef44bfbe.6e2e2","type":"ui_slider","z":"5a7d50a4.4ea17","name":"Speed-Slider","label":"Animation Speed","group":"762434f9.177d5c","order":1,"width":"7","height":"1","passthru":true,"topic":"","min":0,"max":"255","step":1,"x":1690,"y":400,"wires":[["8251756.29f6c88"]]},{"id":"e89b05ef.776ef8","type":"ui_switch","z":"5a7d50a4.4ea17","name":"","label":"Autoplay","group":"adfded0.87f961","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1700,"y":440,"wires":[["d8cd4ebe.d7ad5"]]},{"id":"d8cd4ebe.d7ad5","type":"function","z":"5a7d50a4.4ea17","name":"On/Off","func":"if(msg.payload)msg.payload=\"autoplay?value=1\";\nelse msg.payload = \"autoplay?value=0\";\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":440,"wires":[["5b25622c.68aa0c"]]},{"id":"e5083da5.faad6","type":"ui_slider","z":"5a7d50a4.4ea17","name":"Autoplay Duration Slider","label":"","group":"adfded0.87f961","order":3,"width":"4","height":"1","passthru":true,"topic":"","min":"1","max":"255","step":1,"x":1650,"y":480,"wires":[["ccc9a6e6.5a6f18","645f3d14.aa2b44"]]},{"id":"76561b69.56a584","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafPowerOFF","links":["a1a17089.5755e","4765474c.029bc8"],"x":1115,"y":500,"wires":[]},{"id":"f294797.dc36588","type":"function","z":"5a7d50a4.4ea17","name":"Reposition ","func":"var leafs =[];\nvar o = global.get(\"CanvasOffset\");\nif(global.get(\"NanoleafCfg\")!=null)leafs = global.get(\"NanoleafCfg\");\nvar leafs_old = leafs;\n\nvar offsetX = 0;\nvar offsetY = 0;\nvar maxX = 0;\nvar maxY=0;\n\nvar w = global.get(\"CanvasWidth\");\nvar h = global.get(\"CanvasHeight\");\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    if(leafs[i].p1x<(offsetX+5))offsetX=leafs[i].p1x-o;\n    if(leafs[i].p2x<(offsetX+5))offsetX=leafs[i].p2x-o;\n    if(leafs[i].p3x<(offsetX+5))offsetX=leafs[i].p3x-o;\n    \n    if(leafs[i].p1y<(offsetY+5))offsetY=leafs[i].p1y-o;\n    if(leafs[i].p2y<(offsetY+5))offsetY=leafs[i].p2y-o;\n    if(leafs[i].p3y<(offsetY+5))offsetY=leafs[i].p3y-o;\n}\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    leafs[i].p1x -= offsetX;\n    leafs[i].p2x -= offsetX;\n    leafs[i].p3x -= offsetX;\n    \n    leafs[i].p1y -= offsetY;\n    leafs[i].p2y -= offsetY;\n    leafs[i].p3y -= offsetY;\n    \n    if(leafs[i].p1x>(maxX))maxX=leafs[i].p1x;\n    if(leafs[i].p2x>(maxX))maxX=leafs[i].p2x;\n    if(leafs[i].p3x>(maxX))maxX=leafs[i].p3x;\n    \n    if(leafs[i].p1y>(maxY))maxY=leafs[i].p1y;\n    if(leafs[i].p2y>(maxY))maxY=leafs[i].p2y;\n    if(leafs[i].p3y>(maxY))maxY=leafs[i].p3y;\n}\nvar scale = 1;\nif((maxX+40)>w)\n{\n    scale = w/(maxX+40);\n}\nif((maxY+40)>h)\n{\n    if((h/(maxY+40))<scale)\n    scale = h/(maxY+40);\n}\n\nmsg.topic= scale;\nglobal.set(\"NanoleafCfg\", leafs_old);\n\nmsg.payload = leafs;\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":2400,"wires":[["2d0f87ca.be58c8","b96066e0.1c36f8"]]},{"id":"ebcf888f.9b3578","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1500,"y":2720,"wires":[["9ae9dc76.66e12"]]},{"id":"2d0f87ca.be58c8","type":"function","z":"5a7d50a4.4ea17","name":"Build_Template","func":"var finalstring = \"\";\nvar html = \"\";\nvar js = \"\";\nvar scale = \"\";\nvar leafs = msg.payload;\nvar s = global.get(\"TriangleStroke\");\nvar side = global.get(\"TriangleSide\");\nvar fs = global.get(\"DesignerFontSize\");\nvar w = global.get(\"CanvasWidth\");\nvar h = global.get(\"CanvasHeight\");\nvar selected = global.get(\"DesignerSelected\");\nvar o = global.get(\"TriangleOffset\");\nvar p = selected;\nif(p==null)\n{\n    p = leafs.length-1;\n    if(p<=0)p=0;\n    selected = p;\n}\n\nhtml = `\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css\">`;\nhtml+='<canvas id=\"canvas\" width=\"'+w+'\" height=\"'+h+'\"></canvas>';\n\njs+=`\nvar canvas = document.getElementById(\"canvas\");\nvar ctx = canvas.getContext(\"2d\");\nvar BB = canvas.getBoundingClientRect();\nvar offsetX = BB.left;\nvar offsetY = BB.top;\nvar WIDTH = canvas.width;\nvar HEIGHT = canvas.height;\n`\njs+='ctx.scale('+parseFloat(msg.topic)+', '+parseFloat(msg.topic)+');';\nfor (var i = 0; i < leafs.length; i++) {  \n    js+='ctx.beginPath();\\n';\n    js+='ctx.moveTo('+leafs[i].p1x+', '+leafs[i].p1y+');\\n';\n    js+='ctx.lineTo('+leafs[i].p2x+', '+leafs[i].p2y+');\\n';\n    js+='ctx.lineTo('+leafs[i].p3x+', '+leafs[i].p3y+');\\n';\n    js+='ctx.closePath();\\n';\n    js+='ctx.lineWidth ='+s+';';\n    js+='ctx.lineCap = \"round\";';\n    js+=\"ctx.strokeStyle = '#111111';\";\n    if(i==selected)js+=\"ctx.strokeStyle = '#FF0000';\";\n    js+=\"ctx.stroke();\";\n    js+='ctx.fillStyle = \"'+ leafs[i].fill+'\";\\n';\n    js+='ctx.fill();'\n    \n    js+=\"ctx.fillStyle = '#000000';\";\n    js+='ctx.font = \"'+fs+ 'px Arial\";';\n    var ox = (leafs[i].p1x+leafs[i].p3x)/2-fs/2;\n    var oy = (leafs[i].p1y+leafs[i].p2y)/2;\n    js+=\"ctx.fillText(\"+leafs[i].pos.toString()+\", \"+ox+\", \"+oy+\");\";\n    if(leafs[i].pos == selected)\n    {\n        var a = true;\n        var b = true;\n        var c = true;\n        \nfor(var i2 = 0;i2<leafs.length;i2++)\n    {\n        if(leafs[p].type==true)\n        {\n            if((leafs[p].p2x-o)==leafs[i2].p3x&&leafs[p].p2y==leafs[i2].p3y)\n            {\n                if((leafs[p].p1x-o)==leafs[i2].p2x&&leafs[p].p2y==leafs[i2].p1y)\n                {\n                    a=false;\n                }\n            }\n            \n            if((leafs[p].p2x+o)==leafs[i2].p1x&&leafs[p].p2y==leafs[i2].p1y)\n            {\n                if((leafs[p].p3x+o)==leafs[i2].p2x&&leafs[p].p3y==leafs[i2].p2y)\n                {\n                    b=false;\n                }\n            }\n            if((leafs[p].p1x)==leafs[i2].p1x&&(leafs[p].p1y+o)==leafs[i2].p1y)\n            {\n                if((leafs[p].p3x)==leafs[i2].p3x&&(leafs[p].p3y+o)==leafs[i2].p3y)\n                {\n                    c=false;\n                }\n            }\n            \n        }\n        else\n        {\n            if((leafs[p].p1x-o)==leafs[i2].p2x&&leafs[p].p1y==leafs[i2].p2y)\n            {\n                if((leafs[p].p2x-o)==leafs[i2].p3x)\n                {\n                    if(leafs[p].p2y==leafs[i2].p3y)\n                    {\n                        a=false;\n                    }\n                }\n            }\n            \n            if((leafs[p].p1x)==leafs[i2].p1x&&(leafs[p].p1y-o)==leafs[i2].p1y)\n            {\n                if((leafs[p].p3x)==leafs[i2].p3x&&(leafs[p].p3y-o)==leafs[i2].p3y)\n                {\n                    b=false;\n                }\n            }\n            if((leafs[p].p3x+o)==leafs[i2].p2x&&leafs[p].p3y==leafs[i2].p2y)\n            {\n                if((leafs[p].p2x+o)==leafs[i2].p1x&&leafs[p].p2y==leafs[i2].p1y)\n                {\n                    c=false;\n                }\n            }\n            \n        }\n    }\n        \n        \n        var d = leafs[i].add;\n        if(leafs[i].type==true)\n        {\n            if((d==111||d==110||d==100||d==101)&&a)\n            {\n                var ox = leafs[i].p1x;\n                var oy = (leafs[i].p1y+leafs[i].p2y)/2;\n                js+=\"ctx.fillText('A', \"+ox+\", \"+oy+\");\";\n            }\n            if((d==111||d==110||d==10||d==11)&&b)\n            {\n                var ox = leafs[i].p3x;\n                var oy = (leafs[i].p1y+leafs[i].p2y)/2;\n                js+=\"ctx.fillText('B', \"+ox+\", \"+oy+\");\";\n            }\n            if((d==111||d==101||d==1||d==11)&&c)\n            {\n                var ox = leafs[i].p2x-fs*0.5;\n                var oy = leafs[i].p2y+fs*1.5+side*(Math.sqrt(3)/2);\n                js+=\"ctx.fillText('C', \"+ox+\", \"+oy+\");\";\n            }\n        }\n        else\n        {\n            if((d==111||d==110||d==100||d==101)&&a)\n            {\n                var ox = leafs[i].p1x;\n                var oy = (leafs[i].p1y+leafs[i].p2y)/2;\n                js+=\"ctx.fillText('A', \"+ox+\", \"+oy+\");\";\n            }\n            if((d==111||d==110||d==10||d==11)&&b)\n            {\n                var ox = leafs[i].p2x-fs/2;\n                var oy = leafs[i].p1y-fs*0.5;\n                js+=\"ctx.fillText('B', \"+ox+\", \"+oy+\");\";\n\n            }\n            if((d==111||d==101||d==1||d==11)&&c)\n            {\n                var ox = leafs[i].p3x;\n                var oy = (leafs[i].p1y+leafs[i].p2y)/2;\n                js+=\"ctx.fillText('C', \"+ox+\", \"+oy+\");\";\n            }\n        }\n    }\n}\nvar mul = parseFloat(msg.topic);\n//scale += '\\ncanvas.width = \"'+mul*w+'\";\\n';\n//scale += 'canvas.height = \"'+mul*h+'\";';\n\nvar finalstring = html+\"<script>\"+js+scale+\"</script>\";\nvar msg = {template: finalstring};\nreturn msg;","outputs":1,"noerr":0,"x":2200,"y":2400,"wires":[["7979418f.af3b"]]},{"id":"7979418f.af3b","type":"ui_template","z":"5a7d50a4.4ea17","group":"12d390df.2e86ff","name":"","order":1,"width":"12","height":"10","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2360,"y":2400,"wires":[[]]},{"id":"63003cc2.47bbd4","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":2,"width":"4","height":"1","passthru":false,"label":"Add Position <b>A</b>","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1730,"y":2520,"wires":[["a921486a.101678"]]},{"id":"30db5a73.56b4a6","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":3,"width":"4","height":"1","passthru":false,"label":"Add Position <b>B</b>","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1730,"y":2560,"wires":[["204ecb8.4a73134"]]},{"id":"6c1fec27.4c28e4","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":8,"width":"4","height":"1","passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1530,"y":2440,"wires":[["6fb107e3.b1d2e8"]]},{"id":"6fb107e3.b1d2e8","type":"function","z":"5a7d50a4.4ea17","name":"Reset","func":"var leafs = [];\n\nglobal.set(\"NanoleafCfg\", leafs);\nglobal.set(\"DesignerSelected\",0);\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":2440,"wires":[["f294797.dc36588","b96066e0.1c36f8"]]},{"id":"1705d8f2.819ee7","type":"config","z":"5a7d50a4.4ea17","name":"","properties":[{"p":"CanvasHeight","pt":"global","to":"500","tot":"str"},{"p":"CanvasWidth","pt":"global","to":"800","tot":"str"},{"p":"TriangleSide","pt":"global","to":"100","tot":"num"},{"p":"TriangleOffset","pt":"global","to":"12","tot":"num"},{"p":"TriangleStroke","pt":"global","to":"8","tot":"num"},{"p":"DesignerFontSize","pt":"global","to":"20","tot":"num"},{"p":"DesignerOffset","pt":"global","to":"20","tot":"num"},{"p":"CanvasOffset","pt":"global","to":"30","tot":"str"},{"p":"CanvasHeightMini","pt":"global","to":"190","tot":"str"},{"p":"CanvasWidthMini","pt":"global","to":"350","tot":"str"}],"active":true,"x":1510,"y":2380,"wires":[]},{"id":"b96066e0.1c36f8","type":"function","z":"5a7d50a4.4ea17","name":"Button-Control","func":"var p = global.get(\"DesignerSelected\");\nvar leafs = global.get(\"NanoleafCfg\");\nvar o = global.get(\"TriangleOffset\");\nvar s = global.get(\"TriangleSide\");\nif(p==null)\n{\n    p = leafs.length-1;\n}\n\nvar a = false;\nvar b = false;\nvar c = false;\n\nif(p==-1 || p==0)\n{\n    a=true;\n    b=true;\n    c=true;\n}\nelse\n{\n    var d = leafs[p].add;\n    if(d==111||d==110||d==100||d==101)\n    {\n        a=true;\n    }\n    if(d==111||d==110||d==10||d==11)\n    {\n        b=true;\n    }\n    if(d==111||d==101||d==1||d==11)\n    {\n        c=true;\n    }\n    for(var i = 0;i<leafs.length;i++)\n    {\n        if(leafs[p].type==true)\n        {\n            if((leafs[p].p2x-o)==leafs[i].p3x&&leafs[p].p2y==leafs[i].p3y)\n            {\n                if((leafs[p].p1x-o)==leafs[i].p2x&&leafs[p].p2y==leafs[i].p1y)\n                {\n                    a=false;\n                }\n            }\n            \n            if((leafs[p].p2x+o)==leafs[i].p1x&&leafs[p].p2y==leafs[i].p1y)\n            {\n                if((leafs[p].p3x+o)==leafs[i].p2x&&leafs[p].p3y==leafs[i].p2y)\n                {\n                    b=false;\n                }\n            }\n            if((leafs[p].p1x)==leafs[i].p1x&&(leafs[p].p1y+o)==leafs[i].p1y)\n            {\n                if((leafs[p].p3x)==leafs[i].p3x&&(leafs[p].p3y+o)==leafs[i].p3y)\n                {\n                    c=false;\n                }\n            }\n            \n        }\n        else\n        {\n            if((leafs[p].p1x-o)==leafs[i].p2x&&leafs[p].p1y==leafs[i].p2y)\n            {\n                if((leafs[p].p2x-o)==leafs[i].p3x)\n                {\n                    if(leafs[p].p2y==leafs[i].p3y)\n                    {\n                        a=false;\n                    }\n                }\n            }\n            \n            if((leafs[p].p1x)==leafs[i].p1x&&(leafs[p].p1y-o)==leafs[i].p1y)\n            {\n                if((leafs[p].p3x)==leafs[i].p3x&&(leafs[p].p3y-o)==leafs[i].p3y)\n                {\n                    b=false;\n                }\n            }\n            if((leafs[p].p3x+o)==leafs[i].p2x&&leafs[p].p3y==leafs[i].p2y)\n            {\n                if((leafs[p].p2x+o)==leafs[i].p1x&&leafs[p].p2y==leafs[i].p1y)\n                {\n                    c=false;\n                }\n            }\n            \n        }\n    }\n}\n    if(a)var msg1={enabled: true};\n    else var msg1={enabled: false};\n    if(b)var msg2={enabled: true};\n    else var msg2={enabled: false};\n    if(c)var msg3={enabled: true};\n    else var msg3={enabled: false};\n\nreturn [msg1, msg2, msg3, msg];","outputs":4,"noerr":0,"x":1500,"y":2560,"wires":[["63003cc2.47bbd4"],["30db5a73.56b4a6"],["14f83d67.799303"],[]]},{"id":"14f83d67.799303","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":4,"width":"4","height":"1","passthru":false,"label":"Add Position <b>C</b>","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1730,"y":2600,"wires":[["28b96c8d.a1fc14"]]},{"id":"a921486a.101678","type":"function","z":"5a7d50a4.4ea17","name":"Add Pos A","func":"var leafs = [];\nvar s = global.get(\"TriangleSide\");\nvar o = global.get(\"TriangleOffset\");\nvar p = global.get(\"DesignerSelected\");\n\n\n\nif(global.get(\"NanoleafCfg\")!=null)leafs = global.get(\"NanoleafCfg\");\nif(p==null)\n{\n    if(leafs==null)p=0;else\n    p = leafs.length-1;\n}\nvar cnt = 0;\nif(leafs.length !=null)cnt=leafs.length;\nif(cnt == 0)\n{\n    leafs.push({\n    pos: 0,\n    p1x: 0,\n    p1y: parseInt(s*(Math.sqrt(3)/2)),\n    p2x: s/2,\n    p2y: 0,\n    p3x: s,\n    p3y: parseInt(s*(Math.sqrt(3)/2)),\n    fill: \"#dddddd\",\n    type: true,\n    add: 111\n});\n}\nelse\n{\n    if(leafs[p].type==true)\n    {\n        leafs.push({\n        pos: leafs.length,\n        p1x: leafs[p].p2x-o-s,\n        p1y: leafs[p].p2y,\n        p2x: leafs[p].p1x-o,\n        p2y: leafs[p].p1y,\n        p3x: leafs[p].p2x-o,\n        p3y: leafs[p].p2y,\n        fill: \"#41f45c\",\n        type: false,\n        add: 110\n});\n    }\n    else\n    {\n        leafs.push({\n        pos: leafs.length,\n        p1x: leafs[p].p2x-o-s,\n        p1y: leafs[p].p2y,\n        p2x: leafs[p].p1x-o,\n        p2y: leafs[p].p1y,\n        p3x: leafs[p].p2x-o,\n        p3y: leafs[p].p2y,\n        fill: \"#41f45c\",\n        type: true,\n        add: 101\n});\n    }\n}\nglobal.set(\"NanoleafCfg\", leafs);\nglobal.set(\"DesignerSelected\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":2520,"wires":[["f294797.dc36588"]]},{"id":"204ecb8.4a73134","type":"function","z":"5a7d50a4.4ea17","name":"Add Pos B","func":"var leafs = [];\nvar s = global.get(\"TriangleSide\");\nvar o = global.get(\"TriangleOffset\");\nvar p = global.get(\"DesignerSelected\");\n\n\n\nif(global.get(\"NanoleafCfg\")!=null)leafs = global.get(\"NanoleafCfg\");\nif(p==null)\n{\n    if(leafs==null)p=0;else\n    p = leafs.length-1;\n}\nvar cnt = 0;\nif(leafs.length !=null)cnt=leafs.length;\nif(cnt == 0)\n{\n    leafs.push({\n    pos: 0,\n    p1x: 0,\n    p1y: 0,\n    p2x: s/2,\n    p2y: parseInt(s*(Math.sqrt(3)/2)),\n    p3x: s,\n    p3y: 0,\n    fill: \"#aaaaaa\",\n    type: false,\n    add: 111\n});\n}\nelse\n{\n    if(leafs[p].type==true)\n    {\n        leafs.push({\n        pos: leafs.length,\n        p1x: leafs[p].p2x+o,\n        p1y: leafs[p].p2y,\n        p2x: leafs[p].p3x+o,\n        p2y: leafs[p].p3y,\n        p3x: leafs[p].p2x+s+o,\n        p3y: leafs[p].p2y,\n        fill: \"#42f1f4\",\n        type: false,\n        add: 11\n});\n    }\n    else\n    {\n        leafs.push({\n        pos: leafs.length,\n        p1x: leafs[p].p1x,\n        p1y: leafs[p].p1y-o,\n        p2x: leafs[p].p2x,\n        p2y: leafs[p].p1y-o-parseInt((Math.sqrt(3)/2)*s),\n        p3x: leafs[p].p3x,\n        p3y: leafs[p].p3y-o,\n        fill: \"#42f1f4\",\n        type: true,\n        add: 110\n});\n    }\n}\n\nglobal.set(\"NanoleafCfg\", leafs);\nglobal.set(\"DesignerSelected\", cnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":2560,"wires":[["f294797.dc36588"]]},{"id":"28b96c8d.a1fc14","type":"function","z":"5a7d50a4.4ea17","name":"Add Pos C","func":"var leafs = [];\nvar s = global.get(\"TriangleSide\");\nvar o = global.get(\"TriangleOffset\");\nvar p = global.get(\"DesignerSelected\");\n\n\n\nif(global.get(\"NanoleafCfg\")!=null)leafs = global.get(\"NanoleafCfg\");\nif(p==null)\n{\n    if(leafs==null)p=0;else\n    p = leafs.length-1;\n}\nvar cnt = 0;\nif(leafs.length !=null)cnt=leafs.length;\nif(cnt == 0)\n{\n    leafs.push({\n    pos: 0,\n    p1x: 0,\n    p1y: 0,\n    p2x: s/2,\n    p2y: parseInt(s*(Math.sqrt(3)/2)),\n    p3x: s,\n    p3y: 0,\n    fill: \"#aaaaaa\",\n    type: false,\n    add: 111\n});\n}\nelse\n{\n    if(leafs[p].type==true)\n    {\n        leafs.push({\n        pos: leafs.length,\n        p1x: leafs[p].p1x,\n        p1y: leafs[p].p1y+o,\n        p2x: leafs[p].p2x,\n        p2y: leafs[p].p2y+o+2*parseInt((Math.sqrt(3)/2)*s),\n        p3x: leafs[p].p3x,\n        p3y: leafs[p].p3y+o,\n        fill: \"#f7ff21\",\n        type: false,\n        add: 101\n});\n    }\n    else\n    {\n                leafs.push({\n        pos: leafs.length,\n        p1x: leafs[p].p2x+o,\n        p1y: leafs[p].p2y,\n        p2x: leafs[p].p3x+o,\n        p2y: leafs[p].p3y,\n        p3x: leafs[p].p2x+o+s,\n        p3y: leafs[p].p2y,\n        fill: \"#f7ff21\",\n        type: true,\n        add: 11\n});\n    }\n\n}\nglobal.set(\"NanoleafCfg\", leafs);\nglobal.set(\"DesignerSelected\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":2600,"wires":[["f294797.dc36588"]]},{"id":"5a03da3f.cb2ba4","type":"function","z":"5a7d50a4.4ea17","name":"Seleted","func":"var x = msg.payload;\nvar leafs = global.get(\"NanoleafCfg\");\nvar c = global.get(\"DesignerSelected\");\nvar y = 0;\ny=c+x;\nif(y>=leafs.length)y=0;\nif(y<0)y=leafs.length-1;\nglobal.set(\"DesignerSelected\",y);\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":2480,"wires":[["f294797.dc36588"]]},{"id":"f46b7247.ce31","type":"ui_button","z":"5a7d50a4.4ea17","name":"Right","group":"12d390df.2e86ff","order":6,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"+1","payloadType":"num","topic":"","x":1950,"y":2640,"wires":[["5a03da3f.cb2ba4"]]},{"id":"81628fb2.f9da","type":"ui_button","z":"5a7d50a4.4ea17","name":"Left","group":"12d390df.2e86ff","order":5,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"-1","payloadType":"num","topic":"","x":1950,"y":2680,"wires":[["5a03da3f.cb2ba4"]]},{"id":"696c6621.4210c8","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":7,"width":"4","height":"1","passthru":false,"label":"Remove Last","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1970,"y":2720,"wires":[["3bfd639d.aed80c"]]},{"id":"3bfd639d.aed80c","type":"function","z":"5a7d50a4.4ea17","name":"Remove Last","func":"var leafs = global.get(\"NanoleafCfg\");\nif(leafs==null)return null;\nif(leafs.length>0)leafs.pop();\nglobal.set(\"NanoleafCfg\", leafs);\nglobal.set(\"DesignerSelected\",leafs.length-1);\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":2720,"wires":[["f294797.dc36588"]]},{"id":"c56da09e.ca6ef","type":"file","z":"5a7d50a4.4ea17","name":"","filename":"NanoleafCfg.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2450,"y":2800,"wires":[["12723475.99712c","cd8156af.2b5db8"]]},{"id":"3a3a2a09.bf4426","type":"file in","z":"5a7d50a4.4ea17","name":"","filename":"NanoleafCfg.json","format":"utf8","chunk":false,"sendError":false,"x":2130,"y":2760,"wires":[["a7abd023.e2e02"]]},{"id":"c3380907.fcb6a8","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"str","pretty":false,"x":2290,"y":2800,"wires":[["c56da09e.ca6ef"]]},{"id":"86ad8014.02a6c","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NanoleafCfg","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2120,"y":2800,"wires":[["c3380907.fcb6a8"]]},{"id":"4510000d.27ea4","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":0,"width":"4","height":"1","passthru":false,"label":"Save Design","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1490,"y":2800,"wires":[["fbc35eb4.884df"]]},{"id":"c26a5a13.8823b8","type":"ui_toast","z":"5a7d50a4.4ea17","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Yes","cancel":"Cancel","topic":"Are you sure?","name":"confirm","x":1820,"y":2800,"wires":[["837f8baf.124788"]]},{"id":"837f8baf.124788","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1970,"y":2800,"wires":[["86ad8014.02a6c"]]},{"id":"d17d1240.1a9a4","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":0,"width":"4","height":"1","passthru":false,"label":"Load Design","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1490,"y":2760,"wires":[["9450725b.c9be"]]},{"id":"ea98042.523dcf8","type":"ui_toast","z":"5a7d50a4.4ea17","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Yes","cancel":"Cancel","topic":"Are you sure?","name":"confirm","x":1820,"y":2760,"wires":[["5f9aa359.70801c"]]},{"id":"5f9aa359.70801c","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1970,"y":2760,"wires":[["3a3a2a09.bf4426"]]},{"id":"70e459b3.8db138","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"NanoleafCfg","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2460,"y":2760,"wires":[["f294797.dc36588"]]},{"id":"a7abd023.e2e02","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"obj","pretty":false,"x":2290,"y":2760,"wires":[["70e459b3.8db138"]]},{"id":"9450725b.c9be","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":2760,"wires":[["ea98042.523dcf8"]]},{"id":"fbc35eb4.884df","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":2800,"wires":[["c26a5a13.8823b8"]]},{"id":"9ae9dc76.66e12","type":"function","z":"5a7d50a4.4ea17","name":"Check NanoleafCfg","func":"if(global.get(\"NanoleafCfg\")!=null)return null;\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":2720,"wires":[["5f9aa359.70801c"]]},{"id":"3fb2f6f8.191a9a","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1820,"y":2840,"wires":[[]]},{"id":"e99a4eb1.b1a62","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"12d390df.2e86ff","order":0,"width":"4","height":"1","passthru":false,"label":"Close Designer","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1480,"y":2840,"wires":[["2ec52ace.670696"]]},{"id":"2ec52ace.670696","type":"function","z":"5a7d50a4.4ea17","name":"Hide Designer","func":"msg.payload= {group:{hide:[\"Nanoleafs_Nanoleaf_Designer\"], show:[\"Nanoleafs_Nanoleaf_Simulator\"], focus:true}};\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":2840,"wires":[["3fb2f6f8.191a9a"]]},{"id":"5b25622c.68aa0c","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafDMain","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":2215,"y":440,"wires":[]},{"id":"f3fcc32a.e2175","type":"ui_dropdown","z":"5a7d50a4.4ea17","name":"","label":"Pattern","place":"Select Pattern","group":"6241868f.524d08","order":9,"width":"7","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1700,"y":280,"wires":[["7d06a166.c7728"]]},{"id":"7710a336.d4e97c","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1300,"y":320,"wires":[["f143631c.98d39","ed0a42c8.d1c6f","44a4c9c3.0b40a8"]]},{"id":"f143631c.98d39","type":"template","z":"5a7d50a4.4ea17","name":"","field":"options","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\"Pride\": \"0\"},\n    {\"Color Waves\":\"1\"},\n    {\"Rainbow\":\"20\"},\n    {\"Rainbow With Glitter\":\"21\"},\n    {\"Solid Rainbow\":\"22\"},\n    {\"Confetti\":\"23\"},\n    {\"Sinelon\":\"24\"},\n    {\"Beat\":\"25\"},\n    {\"Juggle\":\"26\"},\n    {\"Fire\":\"27\"},\n    {\"Water\":\"28\"},\n    {\"Solid Color\":\"29\"}\n]","output":"str","x":1440,"y":280,"wires":[["fe69231a.5e5de"]]},{"id":"fe69231a.5e5de","type":"json","z":"5a7d50a4.4ea17","name":"","property":"options","action":"obj","pretty":false,"x":1570,"y":280,"wires":[["f3fcc32a.e2175"]]},{"id":"7d06a166.c7728","type":"function","z":"5a7d50a4.4ea17","name":"Set Command","func":"msg.payload = \"pattern?value=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":300,"wires":[["5b25622c.68aa0c"]]},{"id":"ed0a42c8.d1c6f","type":"template","z":"5a7d50a4.4ea17","name":"","field":"options","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\"Rainbow Twinkles\":\"2\"},\n    {\"Snow Twinkles\":\"3\"},\n    {\"Cloud Twinkles\":\"4\"},\n    {\"Incandescent Twinkles\":\"5\"},\n    {\"Retro C9 Twinkles\":\"6\"},\n    {\"Red & White Twinkles\":\"7\"},\n    {\"Blue & White Twinkles\":\"8\"},\n    {\"Red, Green & White Twinkles\":\"9\"},\n    {\"Fairy Light Twinkles\":\"10\"},\n    {\"Snow 2 Twinkles\":\"11\"},\n    {\"Holly Twinkles\":\"12\"},\n    {\"Ice Twinkles\":\"13\"},\n    {\"Party Twinkles\":\"14\"},\n    {\"Forest Twinkles\":\"15\"},\n    {\"Lava Twinkles\":\"16\"},\n    {\"Fire Twinkles\":\"17\"},\n    {\"Cloud 2 Twinkles\":\"18\"},\n    {\"Ocean Twinkles\":\"19\"}\n]","output":"str","x":1440,"y":320,"wires":[["9b422f18.0b4a5"]]},{"id":"9b422f18.0b4a5","type":"json","z":"5a7d50a4.4ea17","name":"","property":"options","action":"obj","pretty":false,"x":1570,"y":320,"wires":[["12fed829.782c98"]]},{"id":"12fed829.782c98","type":"ui_dropdown","z":"5a7d50a4.4ea17","name":"","label":"Twinkles","place":"Select Pattern","group":"6241868f.524d08","order":10,"width":"7","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1700,"y":320,"wires":[["7d06a166.c7728"]]},{"id":"8251756.29f6c88","type":"function","z":"5a7d50a4.4ea17","name":"Set Speed","func":"global.set(\"NanoleafSpeed\", msg.payload);\nmsg.payload = \"speed?value=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":400,"wires":[["5b25622c.68aa0c"]]},{"id":"ccc9a6e6.5a6f18","type":"function","z":"5a7d50a4.4ea17","name":"Set Duration","func":"global.set(\"NanoleafAutoplayDuration\", msg.payload);\nmsg.payload = \"autoplayDuration?value=\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":480,"wires":[["5b25622c.68aa0c"]]},{"id":"78efeaf2.1179d4","type":"ui_dropdown","z":"5a7d50a4.4ea17","name":"","label":"Palette","place":"Select Palette","group":"6241868f.524d08","order":11,"width":"7","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1710,"y":360,"wires":[["3bb4937e.09cfbc"]]},{"id":"3bb4937e.09cfbc","type":"function","z":"5a7d50a4.4ea17","name":"Set Command","func":"msg.payload = \"palette?value=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":340,"wires":[["5b25622c.68aa0c"]]},{"id":"44a4c9c3.0b40a8","type":"template","z":"5a7d50a4.4ea17","name":"","field":"options","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\"Rainbow\":\"0\"},\n    {\"Rainbow Stripe\":\"1\"},\n    {\"Cloud\":\"2\"},\n    {\"Lava\":\"3\"},\n    {\"Ocean\":\"4\"},\n    {\"Forest\":\"5\"},\n    {\"Party\":\"6\"},\n    {\"Heat\":\"7\"}\n]","output":"str","x":1440,"y":360,"wires":[["c4c2299e.317388"]]},{"id":"c4c2299e.317388","type":"json","z":"5a7d50a4.4ea17","name":"","property":"options","action":"obj","pretty":false,"x":1570,"y":360,"wires":[["78efeaf2.1179d4"]]},{"id":"228d1853.3d44b8","type":"ui_slider","z":"5a7d50a4.4ea17","name":"Brightness Slider","label":"","group":"70208005.5af58","order":4,"width":"4","height":"1","passthru":true,"topic":"","min":0,"max":"255","step":1,"x":1670,"y":180,"wires":[["49b1f2ff.25329c","b13355a6.3df678"]]},{"id":"49b1f2ff.25329c","type":"function","z":"5a7d50a4.4ea17","name":"Set Brightness","func":"global.set(\"NanoleafBrightness\", msg.payload);\nmsg.payload = \"brightness?value=\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":180,"wires":[["5b25622c.68aa0c"]]},{"id":"750e3b41.a53d14","type":"ui_text","z":"5a7d50a4.4ea17","group":"70208005.5af58","order":3,"width":"3","height":"1","name":"","label":"Brightness: ","format":"{{msg.payload}}%","layout":"row-spread","x":1970,"y":220,"wires":[]},{"id":"b13355a6.3df678","type":"range","z":"5a7d50a4.4ea17","minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1710,"y":220,"wires":[["750e3b41.a53d14"]]},{"id":"da330a32.a13db8","type":"ui_colour_picker","z":"5a7d50a4.4ea17","name":"","label":"Solid Color","group":"6241868f.524d08","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":"7","height":"4","passthru":true,"topic":"","x":1690,"y":560,"wires":[["1deaaf79.abf551"]]},{"id":"1deaaf79.abf551","type":"function","z":"5a7d50a4.4ea17","name":"Extract colors","func":"var str = msg.payload.substr(4, msg.payload.length-5);\nvar str = str.split(\", \");\nmsg.payload = \"solidColor?r=\"+str[0]+\"&g=\"+str[1]+\"&b=\"+str[2];\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":560,"wires":[["5b25622c.68aa0c"]]},{"id":"645f3d14.aa2b44","type":"ui_text","z":"5a7d50a4.4ea17","group":"adfded0.87f961","order":2,"width":"3","height":"1","name":"","label":"Duration:","format":"{{msg.payload}} s","layout":"row-spread","x":1960,"y":520,"wires":[]},{"id":"9eebd6c.416f828","type":"comment","z":"5a7d50a4.4ea17","name":"Nanoleaf Designer, warning: complicated code, don't touch anything down here :D","info":"","x":1720,"y":2340,"wires":[]},{"id":"28b5085e.36b808","type":"ui_slider","z":"5a7d50a4.4ea17","name":"","label":"Cooling","group":"762434f9.177d5c","order":2,"width":"7","height":"1","passthru":true,"topic":"","min":"0","max":"255","step":1,"x":1700,"y":600,"wires":[["ad490332.1dc2c"]]},{"id":"ad490332.1dc2c","type":"function","z":"5a7d50a4.4ea17","name":"Set Value","func":"msg.payload = \"cooling?value=\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":600,"wires":[["5b25622c.68aa0c"]]},{"id":"81927521.b4d0d8","type":"ui_slider","z":"5a7d50a4.4ea17","name":"","label":"Sparking","group":"762434f9.177d5c","order":3,"width":"7","height":"1","passthru":true,"topic":"","min":"0","max":"255","step":1,"x":1700,"y":640,"wires":[["ffc29b97.042d08"]]},{"id":"3c18821f.f47e3e","type":"ui_slider","z":"5a7d50a4.4ea17","name":"","label":"Twinkle Speed","group":"762434f9.177d5c","order":4,"width":"7","height":"1","passthru":true,"topic":"","min":"0","max":"8","step":1,"x":1680,"y":680,"wires":[["a0e4864.950fe78"]]},{"id":"4b34df5b.c3f41","type":"ui_slider","z":"5a7d50a4.4ea17","name":"","label":"Twinkle Density","group":"762434f9.177d5c","order":5,"width":"7","height":"1","passthru":true,"topic":"","min":"0","max":"8","step":1,"x":1680,"y":720,"wires":[["5039223a.85d87c"]]},{"id":"ffc29b97.042d08","type":"function","z":"5a7d50a4.4ea17","name":"Set Value","func":"msg.payload = \"sparking?value=\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":640,"wires":[["5b25622c.68aa0c"]]},{"id":"a0e4864.950fe78","type":"function","z":"5a7d50a4.4ea17","name":"Set Value","func":"msg.payload = \"twinkleSpeed?value=\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":680,"wires":[["5b25622c.68aa0c"]]},{"id":"5039223a.85d87c","type":"function","z":"5a7d50a4.4ea17","name":"Set Value","func":"msg.payload = \"twinkleDensity?value=\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":720,"wires":[["5b25622c.68aa0c"]]},{"id":"32e4d162.5e261e","type":"debug","z":"5a7d50a4.4ea17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"template","x":2600,"y":1000,"wires":[]},{"id":"1dcdadf.fe61d52","type":"ui_template","z":"5a7d50a4.4ea17","group":"a9feddfa.4b97a","name":"","order":1,"width":"14","height":"10","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2170,"y":1040,"wires":[[]]},{"id":"20636b37.fc1774","type":"function","z":"5a7d50a4.4ea17","name":"Reposition ","func":"var leafs =[];\nvar o = global.get(\"CanvasOffset\");\nif(global.get(\"PatternCfg\")!=null)leafs = global.get(\"PatternCfg\");\nvar leafs_old = leafs;\n\nvar offsetX = 0;\nvar offsetY = 0;\nvar maxX = 0;\nvar maxY=0;\n\nvar w = global.get(\"CanvasWidth\");\nvar h = global.get(\"CanvasHeight\");\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    if(leafs[i].p1x<(offsetX+5))offsetX=leafs[i].p1x-o;\n    if(leafs[i].p2x<(offsetX+5))offsetX=leafs[i].p2x-o;\n    if(leafs[i].p3x<(offsetX+5))offsetX=leafs[i].p3x-o;\n    \n    if(leafs[i].p1y<(offsetY+5))offsetY=leafs[i].p1y-o;\n    if(leafs[i].p2y<(offsetY+5))offsetY=leafs[i].p2y-o;\n    if(leafs[i].p3y<(offsetY+5))offsetY=leafs[i].p3y-o;\n}\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    leafs[i].p1x -= offsetX;\n    leafs[i].p2x -= offsetX;\n    leafs[i].p3x -= offsetX;\n    \n    leafs[i].p1y -= offsetY;\n    leafs[i].p2y -= offsetY;\n    leafs[i].p3y -= offsetY;\n    \n    if(leafs[i].p1x>(maxX))maxX=leafs[i].p1x;\n    if(leafs[i].p2x>(maxX))maxX=leafs[i].p2x;\n    if(leafs[i].p3x>(maxX))maxX=leafs[i].p3x;\n    \n    if(leafs[i].p1y>(maxY))maxY=leafs[i].p1y;\n    if(leafs[i].p2y>(maxY))maxY=leafs[i].p2y;\n    if(leafs[i].p3y>(maxY))maxY=leafs[i].p3y;\n}\nvar scale = 1;\nif((maxX+40)>w)\n{\n    scale = w/(maxX+40);\n}\nif((maxY+40)>h)\n{\n    if((h/(maxY+40))<scale)\n    scale = h/(maxY+40);\n}\n\nmsg.topic= scale;\n\nmsg.payload = leafs;\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":1040,"wires":[["a8824d16.f2fe7"]]},{"id":"a8824d16.f2fe7","type":"function","z":"5a7d50a4.4ea17","name":"Build_Template","func":"var finalstring = \"\";\nvar html = \"\";\nvar js = \"\";\nvar scale = \"\";\nvar leafs = msg.payload;\nvar s = global.get(\"TriangleStroke\");\nvar side = global.get(\"TriangleSide\");\nvar fs = global.get(\"DesignerFontSize\");\nvar w = global.get(\"CanvasWidth\");\nvar h = global.get(\"CanvasHeight\");\nvar selected = global.get(\"DesignerSelected\");\nvar o = global.get(\"TriangleOffset\");\nvar p = selected;\nif(p==null)\n{\n    p = leafs.length-1;\n    if(p<=0)p=0;\n    selected = p;\n}\n\nhtml = `\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css\">`;\nhtml+='<canvas id=\"canvasPattern\" width=\"'+w+'\" height=\"'+h+'\"></canvas>';\n\njs+=`\nvar canvasPattern = document.getElementById(\"canvasPattern\");\nvar ctxPattern = canvasPattern.getContext(\"2d\");\nvar BB = canvasPattern.getBoundingClientRect();\nvar offsetX = BB.left;\nvar offsetY = BB.top;\nvar WIDTH = canvasPattern.width;\nvar HEIGHT = canvasPattern.height;\n`\njs+='ctxPattern.scale('+parseFloat(msg.topic)+', '+parseFloat(msg.topic)+');';\nfor (var i = 0; i < leafs.length; i++) {  \n    js+='ctxPattern.beginPath();\\n';\n    js+='ctxPattern.moveTo('+leafs[i].p1x+', '+leafs[i].p1y+');\\n';\n    js+='ctxPattern.lineTo('+leafs[i].p2x+', '+leafs[i].p2y+');\\n';\n    js+='ctxPattern.lineTo('+leafs[i].p3x+', '+leafs[i].p3y+');\\n';\n    js+='ctxPattern.closePath();\\n';\n    js+='ctxPattern.lineWidth ='+s+';';\n    js+='ctxPattern.lineCap = \"round\";';\n    js+=\"ctxPattern.strokeStyle = '#000000';\";\n    if(i==selected)js+=\"ctxPattern.strokeStyle = '#FF0000';\";\n    js+=\"ctxPattern.stroke();\";\n    js+='ctxPattern.fillStyle = \"'+ leafs[i].fill+'\";\\n';\n    js+='ctxPattern.fill();'\n}\nvar eventjs=`\ndocument.getElementById('canvasPattern').addEventListener('click',\nfunction(ev){\n    var x = ev.clientX - canvasPattern.offsetLeft;\n    var y = ev.clientY - canvasPattern.offsetTop;\nalert(x+\", \"+y);\n},false);\n`\n\nvar finalstring = html+\"<script>\"+js+\"</script>\";\nvar msg = {template: finalstring};\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":1040,"wires":[["1dcdadf.fe61d52"]]},{"id":"22e76201.9c7a2e","type":"ui_text","z":"5a7d50a4.4ea17","group":"a9feddfa.4b97a","order":6,"width":"2","height":"1","name":"Mode label","label":"... ","format":"{{msg.payload}}","layout":"row-left","x":2860,"y":1200,"wires":[]},{"id":"e58ccea.18cdb3","type":"function","z":"5a7d50a4.4ea17","name":"Static/Breathe/Flow","func":"var leafs = global.get(\"PatternCfg\");\nvar selected = global.get(\"DesignerSelected\");\nleafs[selected].mode=msg.payload;\nglobal.set(\"PatternCfg\", leafs);\n\n\n\n\n\nvar msg2 = {payload: \"\"};\nmsg2.phase=leafs[selected].phase;\nif(msg.payload==\"Yes\")\n{\n    for(var i = 0;i<leafs.length;i++)leafs[i].mode = 2;\n    msg2.payload=\"Flowing\";\n    msg.enabled = false;\n    global.set(\"PatternCfg\", leafs);\n}\nelse if(msg.payload==1)\n{\n    for(var i = 0;i<leafs.length;i++)if(leafs[i].mode==2)leafs[i].mode = 1;\n    msg2.payload=\"Breathe\";\n    msg.enabled = true;\n}\nelse if(msg.payload==0)\n{\n    for(var i = 0;i<leafs.length;i++)if(leafs[i].mode==2)leafs[i].mode = 0;\n    msg2.payload = \"Static\";\n    msg.enabled = false;\n}\n\nreturn [msg2, msg];","outputs":2,"noerr":0,"x":2630,"y":1180,"wires":[["22e76201.9c7a2e"],["74032ccb.d2c204","1c4a3c44.097ff4"]]},{"id":"dcf9e9b8.fba488","type":"ui_button","z":"5a7d50a4.4ea17","name":"Right","group":"a9feddfa.4b97a","order":3,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"+1","payloadType":"num","topic":"","x":1360,"y":1160,"wires":[["55e0566a.b464d8","fea2d279.e5ab9"]]},{"id":"5601fdfe.dae434","type":"ui_button","z":"5a7d50a4.4ea17","name":"Left","group":"a9feddfa.4b97a","order":2,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"-1","payloadType":"num","topic":"","x":1360,"y":1200,"wires":[["55e0566a.b464d8","fea2d279.e5ab9"]]},{"id":"55e0566a.b464d8","type":"function","z":"5a7d50a4.4ea17","name":"Seleted","func":"var x = msg.payload;\nvar leafs = global.get(\"PatternCfg\");\nvar c = global.get(\"DesignerSelected\");\nvar y = 0;\ny=c+x;\nif(y>=leafs.length)y=0;\nif(y<0)y=leafs.length-1;\nmsg.payload = leafs[y].mode;\nmsg.phase=leafs[y].phase;\nmsg.color = leafs[y].fill.substr(1,leafs[y].fill.length-1);\nglobal.set(\"DesignerSelected\",y);\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":1120,"wires":[["20636b37.fc1774","8246b50d.affbd8","4b43edc6.356dc4"]]},{"id":"21340c.19062bf4","type":"ui_colour_picker","z":"5a7d50a4.4ea17","name":"","label":"Color Leaf","group":"a9feddfa.4b97a","format":"hex","outformat":"string","showSwatch":false,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":"7","height":"4","passthru":false,"topic":"","x":1460,"y":1280,"wires":[["7f0b5f69.09801"]]},{"id":"7f0b5f69.09801","type":"function","z":"5a7d50a4.4ea17","name":"Extract colors","func":"var selected = global.get(\"DesignerSelected\");\n\nvar leafs = [];\nif(global.get(\"PatternCfg\")!=null)leafs = global.get(\"PatternCfg\");\nfor(var i = 0;i<leafs.length;i++)\n{\n    if(i==selected)leafs[i].fill=\"#\"+msg.payload;\n}\nglobal.set(\"PatternCfg\", leafs);\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":1280,"wires":[["20636b37.fc1774"]]},{"id":"7a6d03a5.9fa75c","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"a9feddfa.4b97a","order":12,"width":"3","height":"1","passthru":false,"label":"Reset Pattern","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1310,"y":1040,"wires":[["ab7234c9.eba338"]]},{"id":"ab7234c9.eba338","type":"function","z":"5a7d50a4.4ea17","name":"Reset","func":"var leafs = global.get(\"PatternCfg\");\n\nfor(var i  = 0;i<leafs.length;i++)\n{\n    leafs[i].fill=\"#888888\";\n    leafs[i].mode=0;\n    leafs[i].phase=0;\n}\n\n\nglobal.set(\"PatternCfg\", leafs);\nglobal.set(\"DesignerSelected\",0);\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":1040,"wires":[["20636b37.fc1774","55e0566a.b464d8"]]},{"id":"8246b50d.affbd8","type":"ui_slider","z":"5a7d50a4.4ea17","name":"","label":"Mode:","group":"a9feddfa.4b97a","order":5,"width":"4","height":"1","passthru":true,"topic":"","min":0,"max":"2","step":1,"x":1880,"y":1160,"wires":[["7871a6bf.8bd3d8"]]},{"id":"74032ccb.d2c204","type":"ui_text","z":"5a7d50a4.4ea17","group":"a9feddfa.4b97a","order":9,"width":"3","height":"1","name":"","label":"Phase-shift: ","format":"{{msg.phase}}","layout":"row-spread","x":2860,"y":1240,"wires":[]},{"id":"71e2ddee.a9af94","type":"ui_slider","z":"5a7d50a4.4ea17","name":"Phase-Slider","label":"","group":"a9feddfa.4b97a","order":8,"width":"3","height":"1","passthru":false,"topic":"","min":0,"max":"254","step":1,"x":2300,"y":1260,"wires":[["9bba5d63.0865c"]]},{"id":"9bba5d63.0865c","type":"function","z":"5a7d50a4.4ea17","name":"Set Phase","func":"var leafs = global.get(\"PatternCfg\");\nvar selected = global.get(\"DesignerSelected\");\nleafs[selected].phase=msg.payload;\nglobal.set(\"PatternCfg\", leafs);\nmsg.phase=msg.payload;\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":2480,"y":1260,"wires":[["74032ccb.d2c204"]]},{"id":"1c4a3c44.097ff4","type":"function","z":"5a7d50a4.4ea17","name":"Set Phase Slider","func":"var leafs = global.get(\"PatternCfg\");\nvar selected = global.get(\"DesignerSelected\");\nmsg.payload=leafs[selected].phase;\nreturn msg;","outputs":1,"noerr":0,"x":2100,"y":1260,"wires":[["71e2ddee.a9af94"]]},{"id":"4a3d2d85.9ee374","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"a9feddfa.4b97a","order":10,"width":"3","height":"1","passthru":false,"label":"Save Pattern","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1410,"y":1620,"wires":[["655fa144.6dad"]]},{"id":"655fa144.6dad","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1620,"wires":[["cbe05f.e2565fa"]]},{"id":"cbe05f.e2565fa","type":"ui_toast","z":"5a7d50a4.4ea17","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Yes","cancel":"Cancel","topic":"Are you sure?","name":"confirm","x":1740,"y":1620,"wires":[["f1d3877f.ab8a08"]]},{"id":"f1d3877f.ab8a08","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1870,"y":1620,"wires":[["ec04659.2aa6498"]]},{"id":"9db8df34.873a2","type":"ui_text_input","z":"5a7d50a4.4ea17","name":"","label":"Pattern Name: ","group":"a9feddfa.4b97a","order":11,"width":"4","height":"1","passthru":true,"mode":"text","delay":"1","topic":"","x":1280,"y":1660,"wires":[["2bafcdd8.74c8b2"]]},{"id":"69afb3c8.3e77bc","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1080,"y":1640,"wires":[["bcda82b1.c4a79"]]},{"id":"2bafcdd8.74c8b2","type":"function","z":"5a7d50a4.4ea17","name":"Global","func":"global.set(\"PatternName\", msg.payload);\nmsg.payload = msg.payload + \".json\";\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1660,"wires":[["bcda82b1.c4a79"]]},{"id":"5889adc1.99bfb4","type":"function","z":"5a7d50a4.4ea17","name":"Enable","func":"var x = global.get(\"PatternName\");\nif(msg.payload != null && msg.payload[x]!=null)msg.enabled=false;\nelse if(x==null)msg.enabled =false;\nelse if(x.length < 1)\n{\n    msg.enabled=false;\n}\nelse msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1620,"wires":[["4a3d2d85.9ee374"]]},{"id":"7871a6bf.8bd3d8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2000,"y":1180,"wires":[["792e89d7.cb5e48","cfeac209.50b21"],["e58ccea.18cdb3"]]},{"id":"3fe01cf6.41bd44","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Set full pattern to flow mode?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2150,"y":1160,"wires":[["ea01aa30.ebde98"]]},{"id":"ea01aa30.ebde98","type":"ui_toast","z":"5a7d50a4.4ea17","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Yes","cancel":"Cancel","topic":"Are you sure?","name":"confirm","x":2310,"y":1160,"wires":[["290b87e0.f7c688"]]},{"id":"290b87e0.f7c688","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2430,"y":1160,"wires":[["e58ccea.18cdb3","f6055607.0fb2c8"],["792e89d7.cb5e48"]]},{"id":"792e89d7.cb5e48","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2590,"y":1120,"wires":[["8246b50d.affbd8"]]},{"id":"3e3c7f13.c286d","type":"function","z":"5a7d50a4.4ea17","name":"Mode Static, #888888","func":"var selected = global.get(\"DesignerSelected\");\n\nvar leafs = [];\nif(global.get(\"PatternCfg\")!=null)leafs = global.get(\"PatternCfg\");\nleafs[selected].fill=\"#888888\";\nleafs[selected.mode]=0;\nglobal.set(\"PatternCfg\", leafs);\nmsg.payload=0;\nmsg.color = \"#888888\";\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":1340,"wires":[["20636b37.fc1774","8246b50d.affbd8","4b43edc6.356dc4"]]},{"id":"d582c148.35e08","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"a9feddfa.4b97a","order":4,"width":"3","height":"1","passthru":false,"label":"Disable Leaf","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1400,"y":1340,"wires":[["3e3c7f13.c286d"]]},{"id":"4b43edc6.356dc4","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"color","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1280,"wires":[["21340c.19062bf4"]]},{"id":"1a228e94.743e91","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"a9feddfa.4b97a","order":13,"width":"4","height":"1","passthru":false,"label":"Test Pattern","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1270,"y":1700,"wires":[["7a625796.0646b8"]]},{"id":"af4c24ba.bc0de8","type":"comment","z":"5a7d50a4.4ea17","name":"Message format:   <leafcount>;<isflow>;<mode1>,<phase1>;<r1>;<g1>;<b1>;<mode2>,<phase2>;<r2>;<g2>;<b2>;<mode3>,<phase3>;<r3>;<g3>;<b3>.....","info":"","x":1710,"y":1780,"wires":[]},{"id":"cc7ee762.43ed58","type":"function","z":"5a7d50a4.4ea17","name":"Build Message string","func":"var leafs = msg.payload;\nvar isflow = 1;\nfor(var i = 0;i<leafs.length;i++)\n{\n    if(leafs[i].mode!=2)isflow=0;\n}\nfor(var i = 0;(i<leafs.length)&&isflow==true;i++)\n{\n    if(leafs[i].mode==2)leafs[i].mode=0;\n}\n\nvar finalstring = msg.cnt+\";\";\nif(isflow)finalstring+=\"1\";else finalstring+=\"0\";\n//finalstring+=\";\";\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    var str = \";\";\n    str+=leafs[i].mode+\";\";\n    str+=leafs[i].phase+\";\";\n    str+=leafs[i].r+\";\"+leafs[i].g+\";\"+leafs[i].b;\n    finalstring+=str;\n}\nmsg.payload=finalstring;\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":1700,"wires":[["b93a4307.e4026","1fa2b0a.9428b4f"]]},{"id":"7a625796.0646b8","type":"function","z":"5a7d50a4.4ea17","name":"Convert HEX to RGB","func":"var leafs = global.get(\"PatternCfg\");\nvar result;\nmsg.cnt = leafs.length;\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    if(leafs[i].fill==\"#888888\")\n    {\n        leafs[i].r=0;\n        leafs[i].g=0;\n        leafs[i].b=0;\n    }\n    else\n    {\n    result = /^#?([a-f\\d]{2})([a-f\\d]{2})([a-f\\d]{2})$/i.exec(leafs[i].fill);\n    leafs[i].r=parseInt(result[1],16);\n    leafs[i].g=parseInt(result[2],16);\n    leafs[i].b=parseInt(result[3],16);\n    }\n}\n\nmsg.payload=leafs;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":1700,"wires":[["cc7ee762.43ed58"]]},{"id":"fd0e2a8a.aadf98","type":"inject","z":"5a7d50a4.4ea17","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":1740,"wires":[["7a625796.0646b8"]]},{"id":"b93a4307.e4026","type":"debug","z":"5a7d50a4.4ea17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":1700,"wires":[]},{"id":"1fa2b0a.9428b4f","type":"function","z":"5a7d50a4.4ea17","name":"Combine post request","func":"msg.payload=\"custom?value=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":1740,"wires":[["bf20b67f.362df8"]]},{"id":"bf20b67f.362df8","type":"link out","z":"5a7d50a4.4ea17","name":"","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":2055,"y":1740,"wires":[]},{"id":"3ab046e9.1dde1a","type":"function","z":"5a7d50a4.4ea17","name":"Add pattern to Json","func":"var patterns = msg.payload;\nif(patterns==null)patterns = {};\nvar p = global.get(\"PatternCfg\");\nvar name = global.get(\"PatternName\");\npatterns[name]=p;\nmsg.payload=patterns;\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":1620,"wires":[["21930977.55ed26"]]},{"id":"bcda82b1.c4a79","type":"file in","z":"5a7d50a4.4ea17","name":"","filename":"Patterns.json","format":"utf8","chunk":false,"sendError":true,"x":1570,"y":1660,"wires":[["a5a730b4.2bc8"]]},{"id":"ec04659.2aa6498","type":"file in","z":"5a7d50a4.4ea17","name":"","filename":"Patterns.json","format":"utf8","chunk":false,"sendError":true,"x":2010,"y":1620,"wires":[["de665e98.aa6a8"]]},{"id":"de665e98.aa6a8","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"obj","pretty":false,"x":2150,"y":1620,"wires":[["3ab046e9.1dde1a"]]},{"id":"21930977.55ed26","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"str","pretty":false,"x":2470,"y":1620,"wires":[["2f8c8941.3b72e6"]]},{"id":"2f8c8941.3b72e6","type":"file","z":"5a7d50a4.4ea17","name":"","filename":"Patterns.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":2610,"y":1620,"wires":[["4e400f68.6dc9e"]]},{"id":"4e400f68.6dc9e","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":1620,"wires":[["fe596ab9.1e6f58"]]},{"id":"fe596ab9.1e6f58","type":"ui_toast","z":"5a7d50a4.4ea17","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Pattern saved","name":"","x":2770,"y":1660,"wires":[]},{"id":"fea2d279.e5ab9","type":"function","z":"5a7d50a4.4ea17","name":"Static/Breathe/Flow","func":"var leafs = global.get(\"PatternCfg\");\nvar selected = global.get(\"DesignerSelected\");\n\nvar msg2 = {payload: \"\"};\nif(leafs[selected].mode==0)msg2.payload=\"Static\";\nelse if(leafs[selected].mode==1)msg2.payload=\"Breathe\";\nelse if(leafs[selected].mode==2)msg2.payload=\"Flowing\";\nmsg2.phase=leafs[selected].phase;\n//msg2.payload = leafs[selected].phase;\nmsg.enabled = false;\nmsg.payload=leafs[selected].phase;\nif(leafs[selected].mode==1)msg.enabled = true;\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":2450,"y":1320,"wires":[["71e2ddee.a9af94"],["74032ccb.d2c204","22e76201.9c7a2e"]]},{"id":"a5a730b4.2bc8","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"obj","pretty":false,"x":1710,"y":1660,"wires":[["5889adc1.99bfb4"]]},{"id":"daae3fa7.96592","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1960,"y":800,"wires":[[]]},{"id":"998827cb.0e0ad8","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"70208005.5af58","order":5,"width":"3","height":"1","passthru":false,"label":"Open Designer","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1500,"y":780,"wires":[["6f75f89f.12dd18"]]},{"id":"6f75f89f.12dd18","type":"function","z":"5a7d50a4.4ea17","name":"Show Designer","func":"msg.payload= {group:{show:[\"Nanoleafs_Nanoleaf_Designer\"],hide:[\"Nanoleafs_Pattern_Designer\"], focus:true}};\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":780,"wires":[["daae3fa7.96592"]]},{"id":"f43e9f81.382e4","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"70208005.5af58","order":0,"width":"7","height":"1","passthru":false,"label":"Create new Pattern","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1290,"y":880,"wires":[["fbef228.7267be"]]},{"id":"fbef228.7267be","type":"function","z":"5a7d50a4.4ea17","name":"Create new Pattern","func":"var leafs =[];\nif(global.get(\"NanoleafCfg\")!=null)leafs = global.get(\"NanoleafCfg\");\nelse return null;\nfor(var i = 0;i<leafs.length;i++)\n{\n    leafs[i].fill=\"#888888\";\n    leafs[i].mode=0;\n    leafs[i].phase=0;\n}\nglobal.set(\"PatternCfg\", leafs);\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":880,"wires":[["20636b37.fc1774","dd79f9a2.8e00c8"]]},{"id":"dd79f9a2.8e00c8","type":"function","z":"5a7d50a4.4ea17","name":"Show Designer","func":"msg.payload= {group:{show:[\"Nanoleafs_Pattern_Designer\"], hide:[\"Nanoleafs_Nanoleaf_Designer\"], focus:true}};\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":860,"wires":[["daae3fa7.96592"]]},{"id":"bb395d2c.a050f","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"70208005.5af58","order":5,"width":"4","height":"1","passthru":false,"label":"Close Designers","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1500,"y":820,"wires":[["8c7ef971.b8efd8"]]},{"id":"8c7ef971.b8efd8","type":"function","z":"5a7d50a4.4ea17","name":"Hide Designers","func":"msg.payload= {group:{hide:[\"Nanoleafs_Nanoleaf_Designer\"]}};\nnode.send(msg);\nmsg.payload= {group:{hide:[\"Nanoleafs_Pattern_Designer\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":820,"wires":[["daae3fa7.96592"]]},{"id":"fb1fd21c.f005","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1240,"y":1920,"wires":[["9a799dc3.55e08"]]},{"id":"a0fd4efc.5c01e","type":"function","z":"5a7d50a4.4ea17","name":"Build_Pattern_Table","func":"var patterns = msg.payload;\nvar bs = '<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">';\nvar html = `\n<table class=\"table\">\n  <thead>\n    <tr>\n      <th scope=\"col\">Name</th>\n      <th scope=\"col\">Run</th>\n      <th scope=\"col\">Delete</th>\n      <th scope=\"col\">Load</th>\n    </tr>\n  </thead>\n`;\n\n\n\nfor(var prp in patterns)\n{\n    html+=\"<tr>\";\n    html+=\"<td>\"+prp+\"</td>\";\n    html+=\"<td><md-button ng-click='send({payload:\\\"\"+prp+\"\\\", mode: \\\"P\\\"})'><i class='fa fa-play' aria-hidden='true'></i><\\/md-button><\\/td>\";    \n    html+=\"<td><md-button ng-click='send({payload:\\\"\"+prp+\"\\\", mode: \\\"T\\\"})'><i class='fa fa-trash' aria-hidden='true'></i><\\/md-button><\\/td>\";    \n    html+=\"<td><md-button ng-click='send({payload:\\\"\"+prp+\"\\\", mode: \\\"E\\\"})'><i class='fa fa-arrow-right' aria-hidden='true'></i><\\/md-button><\\/td>\";    \n    html+=\"</tr>\";\n}\nhtml+=`\n  </tbody>\n</table>\n`;\nmsg.template = html;\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":1920,"wires":[["a9e1085.56483f8"]]},{"id":"9a799dc3.55e08","type":"file in","z":"5a7d50a4.4ea17","name":"","filename":"Patterns.json","format":"utf8","chunk":false,"sendError":true,"x":1390,"y":1920,"wires":[["8632e488.6f6af8"]]},{"id":"8632e488.6f6af8","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"obj","pretty":false,"x":1530,"y":1920,"wires":[["a0fd4efc.5c01e"]]},{"id":"a9e1085.56483f8","type":"ui_template","z":"5a7d50a4.4ea17","group":"8420c8f4.1d0b18","name":"","order":0,"width":"7","height":"6","format":"","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1880,"y":1920,"wires":[["f8a0859b.7fbcd8"]]},{"id":"4721f5e1.74e94c","type":"function","z":"5a7d50a4.4ea17","name":"Delete Pattern","func":"var patterns = msg.payload;\nvar del = msg.command;\ndelete patterns[del];\nmsg.payload=patterns;\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":2060,"wires":[["8406faac.00cef8"]]},{"id":"8406faac.00cef8","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"str","pretty":false,"x":1570,"y":2060,"wires":[["4f1f5ebc.7284f"]]},{"id":"4f1f5ebc.7284f","type":"file","z":"5a7d50a4.4ea17","name":"","filename":"Patterns.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1710,"y":2060,"wires":[["9879ad21.2a59b"]]},{"id":"9879ad21.2a59b","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":2060,"wires":[["7c207deb.affd74","e018754c.657a48"]]},{"id":"7c207deb.affd74","type":"ui_toast","z":"5a7d50a4.4ea17","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Pattern deleted","name":"","x":2070,"y":2060,"wires":[]},{"id":"54eba2f6.8e9f2c","type":"file in","z":"5a7d50a4.4ea17","name":"","filename":"Patterns.json","format":"utf8","chunk":false,"sendError":true,"x":2230,"y":1920,"wires":[["cc0d7f31.6dbff"]]},{"id":"cc0d7f31.6dbff","type":"json","z":"5a7d50a4.4ea17","name":"","property":"payload","action":"obj","pretty":false,"x":2370,"y":1920,"wires":[["920938bb.c569e8"]]},{"id":"f8a0859b.7fbcd8","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"command","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":1920,"wires":[["54eba2f6.8e9f2c"]]},{"id":"920938bb.c569e8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"mode","propertyType":"msg","rules":[{"t":"eq","v":"P","vt":"str"},{"t":"eq","v":"T","vt":"str"},{"t":"eq","v":"E","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1230,"y":2020,"wires":[["a59bf6be.173898"],["4721f5e1.74e94c"],["5b28396f.6dc508"]]},{"id":"a59bf6be.173898","type":"function","z":"5a7d50a4.4ea17","name":"Convert HEX to RGB","func":"var leafs = msg.payload[msg.command];\nvar result;\nmsg.cnt = leafs.length;\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    if(leafs[i].fill==\"#888888\")\n    {\n        leafs[i].r=0;\n        leafs[i].g=0;\n        leafs[i].b=0;\n    }\n    else\n    {\n    result = /^#?([a-f\\d]{2})([a-f\\d]{2})([a-f\\d]{2})$/i.exec(leafs[i].fill);\n    leafs[i].r=parseInt(result[1],16);\n    leafs[i].g=parseInt(result[2],16);\n    leafs[i].b=parseInt(result[3],16);\n    }\n}\n\nmsg.payload=leafs;\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":2020,"wires":[["6c8088bc.4a6d88"]]},{"id":"6c8088bc.4a6d88","type":"function","z":"5a7d50a4.4ea17","name":"Build Message string","func":"var leafs = msg.payload;\nvar isflow = 1;\nfor(var i = 0;i<leafs.length;i++)\n{\n    if(leafs[i].mode!=2)isflow=0;\n}\nfor(var i = 0;(i<leafs.length)&&isflow==true;i++)\n{\n    if(leafs[i].mode==2)leafs[i].mode=0;\n}\n\nvar finalstring = msg.cnt+\";\";\nif(isflow)finalstring+=\"1\";else finalstring+=\"0\";\n//finalstring+=\";\";\n\nfor(var i = 0;i<leafs.length;i++)\n{\n    var str = \";\";\n    str+=leafs[i].mode+\";\";\n    str+=leafs[i].phase+\";\";\n    str+=leafs[i].r+\";\"+leafs[i].g+\";\"+leafs[i].b;\n    finalstring+=str;\n}\nmsg.payload=finalstring;\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":2020,"wires":[["6176df99.06061"]]},{"id":"6176df99.06061","type":"function","z":"5a7d50a4.4ea17","name":"Combine post request","func":"msg.payload=\"custom?value=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":2020,"wires":[["92779a33.ac7828"]]},{"id":"92779a33.ac7828","type":"link out","z":"5a7d50a4.4ea17","name":"","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":2015,"y":2020,"wires":[]},{"id":"5b28396f.6dc508","type":"function","z":"5a7d50a4.4ea17","name":"Show Designer","func":"global.set(\"PatternCfg\", msg.payload[msg.command]);\nmsg.payload= {group:{show:[\"Nanoleafs_Pattern_Designer\"], hide:[\"Nanoleafs_Nanoleaf_Designer\"], focus:true}};\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":2100,"wires":[["aa609069.184d8"]]},{"id":"aa609069.184d8","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1580,"y":2100,"wires":[["20636b37.fc1774"]]},{"id":"362fa330.8a546c","type":"link in","z":"5a7d50a4.4ea17","name":"ReloadCustomPatternList","links":["e018754c.657a48","12723475.99712c"],"x":1200,"y":1880,"wires":[["9a799dc3.55e08"]]},{"id":"e018754c.657a48","type":"link out","z":"5a7d50a4.4ea17","name":"","links":["362fa330.8a546c"],"x":1995,"y":2100,"wires":[]},{"id":"12723475.99712c","type":"link out","z":"5a7d50a4.4ea17","name":"","links":["362fa330.8a546c"],"x":2595,"y":2800,"wires":[]},{"id":"cd8156af.2b5db8","type":"debug","z":"5a7d50a4.4ea17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2620,"y":2860,"wires":[]},{"id":"f6055607.0fb2c8","type":"debug","z":"5a7d50a4.4ea17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2880,"y":1140,"wires":[]},{"id":"c5471f2a.f3a4d","type":"ui_toast","z":"5a7d50a4.4ea17","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2370,"y":1080,"wires":[]},{"id":"cfeac209.50b21","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Flowing mode is not yet supported","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":1080,"wires":[["c5471f2a.f3a4d"]]},{"id":"920379d5.a36688","type":"ui_button","z":"5a7d50a4.4ea17","name":"","group":"a9feddfa.4b97a","order":14,"width":"7","height":"1","passthru":false,"label":"Close Designer","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1160,"y":1400,"wires":[["bda273d2.42932"]]},{"id":"bda273d2.42932","type":"function","z":"5a7d50a4.4ea17","name":"Hide Designers","func":"msg.payload= {group:{hide:[\"Nanoleafs_Pattern_Designer\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":1400,"wires":[["d61dc96c.ea6488"]]},{"id":"d61dc96c.ea6488","type":"ui_ui_control","z":"5a7d50a4.4ea17","name":"","x":1620,"y":1380,"wires":[[]]},{"id":"70fd7025.8f5bb","type":"debug","z":"5a7d50a4.4ea17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2410,"y":2540,"wires":[]},{"id":"63d8a050.ff4e8","type":"link in","z":"5a7d50a4.4ea17","name":"NanoleafWithPowerON","links":["229f59f9.b1ecd6","4e9a7b56.8b0024","6915cfb8.0fb0c","63b32f37.e2fd2","5fb7f314.a8319c","4dc347dc.4b8638","7d4a8ab6.9efa14","4441aa69.8d3804","5b25622c.68aa0c","5dead56c.a6149c","bf20b67f.362df8","92779a33.ac7828","d4df94f8.ccfea8","4a470dc9.80f864","f7be5c83.6e651","a9bcad83.a4162","2815e6bc.9fcaaa","fbe5eec.0d8291","e338089d.d62fe8","775b3c6f.0ead54","cb9838e3.c0bdc8","2602b1c3.704d3e","c7aca4f.d9f9358","325a7b7c.db0cc4","3f79e448.efa3ac","4a595795.f6c7f8","9c865d1c.ce7ea","a7c4c7c8.a90a68","c08b895e.14cea8","aa3def66.ea927","b510b123.4acd8","de966ed7.ddaa2","480fc515.2f058c","e28b501f.065ee","2e5ba42c.13a52c","2e4f61c8.8c963e","dd66a7c4.9fd698","ead58756.d3f628","3dd86eb4.779f42"],"x":935,"y":2220,"wires":[["d195c90.a49ae38"]]},{"id":"d195c90.a49ae38","type":"delay","z":"5a7d50a4.4ea17","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":2200,"wires":[["7f412eb1.c3a64"]]},{"id":"c47517db.04dff8","type":"function","z":"5a7d50a4.4ea17","name":"Set Request URL","func":"var url = global.get(\"Nanoleaf\")+\"/\";\nmsg.payload = url+msg.payload2;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":2260,"wires":[["ea6f63f1.1d30f"]]},{"id":"ea6f63f1.1d30f","type":"change","z":"5a7d50a4.4ea17","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":2260,"wires":[["2bcdbbc5.1f48d4","addd992a.b0c268"]]},{"id":"17fb3079.62fe","type":"debug","z":"5a7d50a4.4ea17","name":"Nanoleaf Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1790,"y":2260,"wires":[]},{"id":"2bcdbbc5.1f48d4","type":"debug","z":"5a7d50a4.4ea17","name":"Nanoleaf Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","x":1790,"y":2220,"wires":[]},{"id":"4765474c.029bc8","type":"link in","z":"5a7d50a4.4ea17","name":"NanoleafWithoutPowerON","links":["76561b69.56a584","bcd200af.5afd3"],"x":1135,"y":2300,"wires":[["77211427.5fbfcc"]]},{"id":"7f412eb1.c3a64","type":"function","z":"5a7d50a4.4ea17","name":"power on","func":"var url = global.get(\"Nanoleaf\")+\"/\";\nvar on = url+\"power?value=1\";\nvar msg2 = \n{\n    payload2: msg.payload, \n    url: on\n};\nreturn msg2;","outputs":1,"noerr":0,"x":1240,"y":2200,"wires":[["91cd0c89.21bba"]]},{"id":"91cd0c89.21bba","type":"http request","z":"5a7d50a4.4ea17","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1390,"y":2200,"wires":[["c47517db.04dff8"]]},{"id":"addd992a.b0c268","type":"http request","z":"5a7d50a4.4ea17","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1610,"y":2260,"wires":[["17fb3079.62fe"]]},{"id":"77211427.5fbfcc","type":"function","z":"5a7d50a4.4ea17","name":"Set Request URL","func":"var url = global.get(\"Nanoleaf\")+\"/\";\nmsg.payload = url+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":2300,"wires":[["ea6f63f1.1d30f"]]},{"id":"167fd626.34859a","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55974","acknoledge":true,"name":"Blume modus","topic":"","x":250,"y":880,"wires":[["aa0b2451.d4bc88"]]},{"id":"5d24b16e.40ff3","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":640,"y":920,"wires":[]},{"id":"e4edf550.0f9868","type":"comment","z":"5a7d50a4.4ea17","name":"The command that should control the FlowerMode","info":"","x":370,"y":780,"wires":[]},{"id":"d119b025.6e896","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafAutoplay","links":["26ae513d.6db44e"],"x":915,"y":860,"wires":[]},{"id":"aa0b2451.d4bc88","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":880,"wires":[["88edd6ef.7ca718"],["c6ac1cc5.a1efb"],["5d24b16e.40ff3"]]},{"id":"88edd6ef.7ca718","type":"change","z":"5a7d50a4.4ea17","name":"Flowermode on","rules":[{"t":"set","p":"payload","pt":"msg","to":"FlowerMode?value=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":840,"wires":[["d119b025.6e896"]]},{"id":"c6ac1cc5.a1efb","type":"change","z":"5a7d50a4.4ea17","name":"FlowerMode off","rules":[{"t":"set","p":"payload","pt":"msg","to":"FlowerMode?value=0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":880,"wires":[["d119b025.6e896"]]},{"id":"71be0ae9.8385c4","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55924","acknoledge":true,"name":"Blume Regenbogen","topic":"","x":250,"y":2600,"wires":[["943e5eb5.a1a3e"]]},{"id":"943e5eb5.a1a3e","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":2620,"wires":[["7ae6e028.64b15"],["25919c6e.1d1144"],["a8770a97.d513f8"]]},{"id":"a8770a97.d513f8","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":2680,"wires":[]},{"id":"7ae6e028.64b15","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 20 (Rainbow)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2600,"wires":[["d4df94f8.ccfea8"]]},{"id":"25919c6e.1d1144","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2640,"wires":[["d4df94f8.ccfea8"]]},{"id":"d4df94f8.ccfea8","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":797,"y":2618,"wires":[]},{"id":"78a4ede0.77ef14","type":"comment","z":"5a7d50a4.4ea17","name":"Edit the alexa node below and choose the one that should control the rainbow mode","info":"","x":450,"y":2560,"wires":[]},{"id":"9d312353.c8f44","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55944","acknoledge":true,"name":"Blume Color Waves","topic":"","x":250,"y":2800,"wires":[["9d8d9227.430f5"]]},{"id":"9d8d9227.430f5","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":2820,"wires":[["fad754d9.92cb38"],["b8d1fa7c.7776d8"],["4e70c3e7.ec795c"]]},{"id":"4e70c3e7.ec795c","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":2880,"wires":[]},{"id":"fad754d9.92cb38","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2800,"wires":[["4a470dc9.80f864"]]},{"id":"b8d1fa7c.7776d8","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2840,"wires":[["4a470dc9.80f864"]]},{"id":"4a470dc9.80f864","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":797,"y":2818,"wires":[]},{"id":"72bd2c3d.99aa64","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55945","acknoledge":true,"name":"Blume Regenbogen Funkeln","topic":"","x":260,"y":2940,"wires":[["19e750f1.1bbd4f"]]},{"id":"19e750f1.1bbd4f","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":2960,"wires":[["2d89e17b.9a800e"],["5fb97e92.3f532"],["caa537fb.ac8718"]]},{"id":"caa537fb.ac8718","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560,"y":3020,"wires":[]},{"id":"2d89e17b.9a800e","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2940,"wires":[["f7be5c83.6e651"]]},{"id":"5fb97e92.3f532","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2980,"wires":[["f7be5c83.6e651"]]},{"id":"f7be5c83.6e651","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":777,"y":2958,"wires":[]},{"id":"cb7d9d04.b1018","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55946","acknoledge":true,"name":"Blume schnee funkeln","topic":"","x":240,"y":3080,"wires":[["d7f8887f.365ef8"]]},{"id":"d7f8887f.365ef8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":3100,"wires":[["f36a8340.b63a7"],["3c61656f.c73e6a"],["8c639a6b.5d6288"]]},{"id":"8c639a6b.5d6288","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560,"y":3160,"wires":[]},{"id":"f36a8340.b63a7","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":3080,"wires":[["a9bcad83.a4162"]]},{"id":"3c61656f.c73e6a","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":3120,"wires":[["a9bcad83.a4162"]]},{"id":"a9bcad83.a4162","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":777,"y":3098,"wires":[]},{"id":"5904a9db.3ed2b8","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55947","acknoledge":true,"name":"Blume Wolken Funkeln","topic":"","x":220,"y":3220,"wires":[["94411f3a.393be"]]},{"id":"94411f3a.393be","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":3240,"wires":[["b2645cf6.0e30e"],["5dfce806.c9ba88"],["a6f2ef98.d443"]]},{"id":"a6f2ef98.d443","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":3300,"wires":[]},{"id":"b2645cf6.0e30e","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3220,"wires":[["2815e6bc.9fcaaa"]]},{"id":"5dfce806.c9ba88","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3260,"wires":[["2815e6bc.9fcaaa"]]},{"id":"2815e6bc.9fcaaa","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":3238,"wires":[]},{"id":"cd681864.17cb88","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55948","acknoledge":true,"name":"Blume Weies funkeln","topic":"","x":220,"y":3340,"wires":[["852023e2.1562e"]]},{"id":"852023e2.1562e","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":3360,"wires":[["1331b861.effcc8"],["6d7dd87d.fc5ac8"],["8a8c73a7.a0057"]]},{"id":"8a8c73a7.a0057","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":3420,"wires":[]},{"id":"1331b861.effcc8","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3340,"wires":[["fbe5eec.0d8291"]]},{"id":"6d7dd87d.fc5ac8","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3380,"wires":[["fbe5eec.0d8291"]]},{"id":"fbe5eec.0d8291","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":3358,"wires":[]},{"id":"2911695d.ef9d76","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55949","acknoledge":true,"name":"Blume Retro funkeln","topic":"","x":210,"y":3460,"wires":[["81452d19.64681"]]},{"id":"81452d19.64681","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":3480,"wires":[["b39dc117.de924"],["6854ecfa.cedc34"],["ab2c58be.a7a328"]]},{"id":"ab2c58be.a7a328","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":3540,"wires":[]},{"id":"b39dc117.de924","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3460,"wires":[["e338089d.d62fe8"]]},{"id":"6854ecfa.cedc34","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3500,"wires":[["e338089d.d62fe8"]]},{"id":"e338089d.d62fe8","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":3478,"wires":[]},{"id":"76fb2fa4.c245f","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55950","acknoledge":true,"name":"Blume Rot Weis funkeln","topic":"","x":220,"y":3580,"wires":[["e576c84d.30f728"]]},{"id":"e576c84d.30f728","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":3600,"wires":[["4c927c5f.5b4cc4"],["d1dc8f36.2c88a"],["5f476a2d.2ed724"]]},{"id":"5f476a2d.2ed724","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":3660,"wires":[]},{"id":"4c927c5f.5b4cc4","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3580,"wires":[["775b3c6f.0ead54"]]},{"id":"d1dc8f36.2c88a","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3620,"wires":[["775b3c6f.0ead54"]]},{"id":"775b3c6f.0ead54","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":3598,"wires":[]},{"id":"53fe6eee.6528d","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55951","acknoledge":true,"name":"Blume Blau Wei funkeln","topic":"","x":230,"y":3700,"wires":[["e03345be.c408f8"]]},{"id":"e03345be.c408f8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":3720,"wires":[["513bfece.dbd22"],["76989deb.3077e4"],["12b3be86.3d3cf1"]]},{"id":"12b3be86.3d3cf1","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":3780,"wires":[]},{"id":"513bfece.dbd22","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3700,"wires":[["cb9838e3.c0bdc8"]]},{"id":"76989deb.3077e4","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3740,"wires":[["cb9838e3.c0bdc8"]]},{"id":"cb9838e3.c0bdc8","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":3718,"wires":[]},{"id":"9e4cb05e.60bd","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55952","acknoledge":true,"name":"Blume Rot Grn Wei funkeln","topic":"","x":240,"y":3820,"wires":[["9b53855c.565248"]]},{"id":"9b53855c.565248","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":3840,"wires":[["dec910c0.e71b3"],["68a6d37f.40adac"],["cb8237ce.b72da8"]]},{"id":"cb8237ce.b72da8","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":3900,"wires":[]},{"id":"dec910c0.e71b3","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 9","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3820,"wires":[["2602b1c3.704d3e"]]},{"id":"68a6d37f.40adac","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3860,"wires":[["2602b1c3.704d3e"]]},{"id":"2602b1c3.704d3e","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":3838,"wires":[]},{"id":"823b4faa.63cdd","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55953","acknoledge":true,"name":"Blume Fee Licht funkeln","topic":"","x":220,"y":3940,"wires":[["6119eb39.84a0f4"]]},{"id":"6119eb39.84a0f4","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":3960,"wires":[["54ba41a3.b3c51"],["f222fa4.a5bbd08"],["4d446012.c1b04"]]},{"id":"4d446012.c1b04","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4020,"wires":[]},{"id":"54ba41a3.b3c51","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3940,"wires":[["c7aca4f.d9f9358"]]},{"id":"f222fa4.a5bbd08","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":3980,"wires":[["c7aca4f.d9f9358"]]},{"id":"c7aca4f.d9f9358","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":3958,"wires":[]},{"id":"48591396.e5546c","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55954","acknoledge":true,"name":"Blume schnee 2 funkeln","topic":"","x":220,"y":4060,"wires":[["e180a05f.01cb8"]]},{"id":"e180a05f.01cb8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4080,"wires":[["97bb28c0.e2e138"],["695b5110.aff7f"],["cb40d52d.7fe808"]]},{"id":"cb40d52d.7fe808","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4140,"wires":[]},{"id":"97bb28c0.e2e138","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 11","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=11","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4060,"wires":[["325a7b7c.db0cc4"]]},{"id":"695b5110.aff7f","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4100,"wires":[["325a7b7c.db0cc4"]]},{"id":"325a7b7c.db0cc4","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4078,"wires":[]},{"id":"f2980e59.ae279","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55956","acknoledge":true,"name":"Blume palmen Funkeln","topic":"","x":220,"y":4180,"wires":[["a8a957e7.f42368"]]},{"id":"a8a957e7.f42368","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4200,"wires":[["31d3ba3e.fbfd16"],["95ce931d.a370d"],["e2c0a0a6.1641a"]]},{"id":"e2c0a0a6.1641a","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4260,"wires":[]},{"id":"31d3ba3e.fbfd16","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 12","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4180,"wires":[["3f79e448.efa3ac"]]},{"id":"95ce931d.a370d","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4220,"wires":[["3f79e448.efa3ac"]]},{"id":"3f79e448.efa3ac","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4198,"wires":[]},{"id":"ffbcd53d.118b58","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55957","acknoledge":true,"name":"Blume eis funkeln","topic":"","x":210,"y":4300,"wires":[["ab7c3acb.f001c8"]]},{"id":"ab7c3acb.f001c8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4320,"wires":[["b6ae103b.0cd64"],["2b574379.a026bc"],["cb655e7b.ad2fc"]]},{"id":"cb655e7b.ad2fc","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4380,"wires":[]},{"id":"b6ae103b.0cd64","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 13","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=13","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4300,"wires":[["4a595795.f6c7f8"]]},{"id":"2b574379.a026bc","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4340,"wires":[["4a595795.f6c7f8"]]},{"id":"4a595795.f6c7f8","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4318,"wires":[]},{"id":"e826094c.f44b48","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55958","acknoledge":true,"name":"Blume Party funkeln","topic":"","x":210,"y":4420,"wires":[["d1168f59.534c2"]]},{"id":"d1168f59.534c2","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4440,"wires":[["c7b1532.25b50b"],["4f7bb165.ff027"],["7fd0da8c.f01644"]]},{"id":"7fd0da8c.f01644","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4500,"wires":[]},{"id":"c7b1532.25b50b","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 14","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=14","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4420,"wires":[["9c865d1c.ce7ea"]]},{"id":"4f7bb165.ff027","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4460,"wires":[["9c865d1c.ce7ea"]]},{"id":"9c865d1c.ce7ea","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4438,"wires":[]},{"id":"874ccecd.632ff","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55959","acknoledge":true,"name":"Blume wald funkeln","topic":"","x":210,"y":4540,"wires":[["a8a7d621.386e78"]]},{"id":"a8a7d621.386e78","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4560,"wires":[["86e981f0.94b1"],["f1f5fac0.b5daf8"],["43ed9c93.ed8504"]]},{"id":"43ed9c93.ed8504","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4620,"wires":[]},{"id":"86e981f0.94b1","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 15","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4540,"wires":[["a7c4c7c8.a90a68"]]},{"id":"f1f5fac0.b5daf8","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4580,"wires":[["a7c4c7c8.a90a68"]]},{"id":"a7c4c7c8.a90a68","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4558,"wires":[]},{"id":"f3263a76.7510d8","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55960","acknoledge":true,"name":"Blume Lava funkeln","topic":"","x":210,"y":4660,"wires":[["6709e3ed.d4833c"]]},{"id":"6709e3ed.d4833c","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4680,"wires":[["23f45458.d1e7ec"],["d9529ec7.b6476"],["78762cd0.005624"]]},{"id":"78762cd0.005624","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4740,"wires":[]},{"id":"23f45458.d1e7ec","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 16","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=16","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4660,"wires":[["c08b895e.14cea8"]]},{"id":"d9529ec7.b6476","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4700,"wires":[["c08b895e.14cea8"]]},{"id":"c08b895e.14cea8","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4678,"wires":[]},{"id":"eecfb1c2.726c","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55961","acknoledge":true,"name":"Blume feuer funkeln","topic":"","x":210,"y":4780,"wires":[["d15f3614.5587f8"]]},{"id":"d15f3614.5587f8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4800,"wires":[["37b68251.47d6ae"],["f8c26db7.07b49"],["2821d97.256ff26"]]},{"id":"2821d97.256ff26","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4860,"wires":[]},{"id":"37b68251.47d6ae","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 17","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=17","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4780,"wires":[["aa3def66.ea927"]]},{"id":"f8c26db7.07b49","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4820,"wires":[["aa3def66.ea927"]]},{"id":"aa3def66.ea927","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4798,"wires":[]},{"id":"37cc9061.f94fe","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55962","acknoledge":true,"name":"Blume Wolke 2 funkeln","topic":"","x":220,"y":4900,"wires":[["e1a60b66.ad1ba8"]]},{"id":"e1a60b66.ad1ba8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":4920,"wires":[["a2d24323.bac6d"],["cdec61b4.9e7aa"],["b9e7e55c.369668"]]},{"id":"b9e7e55c.369668","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":4980,"wires":[]},{"id":"a2d24323.bac6d","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 18","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=18","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4900,"wires":[["b510b123.4acd8"]]},{"id":"cdec61b4.9e7aa","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4940,"wires":[["b510b123.4acd8"]]},{"id":"b510b123.4acd8","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":757,"y":4918,"wires":[]},{"id":"40fac8d0.202bc8","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55963","acknoledge":true,"name":"Blume wasser funkeln","topic":"","x":1020,"y":2960,"wires":[["7a8ec648.bc3698"]]},{"id":"7a8ec648.bc3698","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":2980,"wires":[["fa06488e.041558"],["571d6bb0.4116f4"],["9f85700a.c3681"]]},{"id":"9f85700a.c3681","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3040,"wires":[]},{"id":"fa06488e.041558","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 19","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=19","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":2960,"wires":[["de966ed7.ddaa2"]]},{"id":"571d6bb0.4116f4","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3000,"wires":[["de966ed7.ddaa2"]]},{"id":"de966ed7.ddaa2","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":2978,"wires":[]},{"id":"95cf5c0e.b52d9","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55965","acknoledge":true,"name":"Blume Regenbogen mit glitzer","topic":"","x":1040,"y":3080,"wires":[["68cabf4e.15b39"]]},{"id":"68cabf4e.15b39","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":3100,"wires":[["ecd8700e.22634"],["3bfef234.3fa47e"],["fa8180a1.35bab"]]},{"id":"fa8180a1.35bab","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3160,"wires":[]},{"id":"ecd8700e.22634","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 21","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=21","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3080,"wires":[["480fc515.2f058c"]]},{"id":"3bfef234.3fa47e","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3120,"wires":[["480fc515.2f058c"]]},{"id":"480fc515.2f058c","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":3098,"wires":[]},{"id":"37880c68.a14544","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55966","acknoledge":true,"name":"Blume Regenbogen gleich","topic":"","x":1030,"y":3200,"wires":[["b0ae5ee9.1be62"]]},{"id":"b0ae5ee9.1be62","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":3220,"wires":[["7512bad7.4064b4"],["12a7e9ac.668cd6"],["9e8f4583.e2e538"]]},{"id":"9e8f4583.e2e538","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3280,"wires":[]},{"id":"7512bad7.4064b4","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 22","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=22","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3200,"wires":[["e28b501f.065ee"]]},{"id":"12a7e9ac.668cd6","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3240,"wires":[["e28b501f.065ee"]]},{"id":"e28b501f.065ee","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":3218,"wires":[]},{"id":"dd12b15d.3b49","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55967","acknoledge":true,"name":"Blume Konfetti ","topic":"","x":1000,"y":3320,"wires":[["1d8a950f.8657ab"]]},{"id":"1d8a950f.8657ab","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":3340,"wires":[["43f4ee94.6ef75"],["3da7cea6.507992"],["da320742.c52478"]]},{"id":"da320742.c52478","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3400,"wires":[]},{"id":"43f4ee94.6ef75","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 23","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=23","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3320,"wires":[["2e5ba42c.13a52c"]]},{"id":"3da7cea6.507992","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3360,"wires":[["2e5ba42c.13a52c"]]},{"id":"2e5ba42c.13a52c","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":3338,"wires":[]},{"id":"b7c2ff9e.19e12","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55970","acknoledge":true,"name":"Blume durcheinander","topic":"","x":1020,"y":3440,"wires":[["1c2d8256.6f63ee"]]},{"id":"1c2d8256.6f63ee","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":3460,"wires":[["29bb30fc.f534b"],["d699cdc3.b5399"],["1b559188.9b7bfe"]]},{"id":"1b559188.9b7bfe","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3520,"wires":[]},{"id":"29bb30fc.f534b","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 26","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=26","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3440,"wires":[["2e4f61c8.8c963e"]]},{"id":"d699cdc3.b5399","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3480,"wires":[["2e4f61c8.8c963e"]]},{"id":"2e4f61c8.8c963e","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":3458,"wires":[]},{"id":"95c3103e.ac59b","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55971","acknoledge":true,"name":"Blume Feuer","topic":"","x":990,"y":3560,"wires":[["cc9df8f.4b5d808"]]},{"id":"cc9df8f.4b5d808","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":3580,"wires":[["52ddedd1.ebc214"],["4b4f57c8.0cadf8"],["96aab62c.8c9918"]]},{"id":"96aab62c.8c9918","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3640,"wires":[]},{"id":"52ddedd1.ebc214","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 27","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=27","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3560,"wires":[["dd66a7c4.9fd698"]]},{"id":"4b4f57c8.0cadf8","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3600,"wires":[["dd66a7c4.9fd698"]]},{"id":"dd66a7c4.9fd698","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":3578,"wires":[]},{"id":"b4a3ec71.8f768","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55972","acknoledge":true,"name":"Blume Wasser","topic":"","x":1000,"y":3680,"wires":[["19491cb8.aa3a33"]]},{"id":"19491cb8.aa3a33","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":3700,"wires":[["db03d902.be8f78"],["487f16f3.877638"],["1a197756.0e5f79"]]},{"id":"1a197756.0e5f79","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3760,"wires":[]},{"id":"db03d902.be8f78","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 28","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=28","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3680,"wires":[["ead58756.d3f628"]]},{"id":"487f16f3.877638","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3720,"wires":[["ead58756.d3f628"]]},{"id":"ead58756.d3f628","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":3698,"wires":[]},{"id":"b70e2d6f.7af07","type":"alexa-home","z":"5a7d50a4.4ea17","conf":"7d1a874.d5eee78","device":"55971","acknoledge":true,"name":"Blume Feuer","topic":"","x":990,"y":3800,"wires":[["fd94950b.36eed8"]]},{"id":"fd94950b.36eed8","type":"switch","z":"5a7d50a4.4ea17","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1170,"y":3820,"wires":[["edb8194.9a5dae8"],["ea7b254c.c1b508"],["8cb58d39.ddc61"]]},{"id":"8cb58d39.ddc61","type":"debug","z":"5a7d50a4.4ea17","name":"ALEXA ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":3880,"wires":[]},{"id":"edb8194.9a5dae8","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 27","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=27","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":3800,"wires":[["3dd86eb4.779f42"]]},{"id":"ea7b254c.c1b508","type":"change","z":"5a7d50a4.4ea17","name":"Set Pattern 29 (Solid Color)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern?value=29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":3840,"wires":[["3dd86eb4.779f42"]]},{"id":"3dd86eb4.779f42","type":"link out","z":"5a7d50a4.4ea17","name":"NanoleafRainbow","links":["6ebeeda9.18a074","63d8a050.ff4e8"],"x":1557,"y":3818,"wires":[]},{"id":"7d1a874.d5eee78","type":"alexa-home-conf","z":"","username":"ediciuStsaF"},{"id":"70208005.5af58","type":"ui_group","z":"","name":"Main","tab":"d4dc9b03.c3e558","order":1,"disp":true,"width":"7","collapse":true},{"id":"762434f9.177d5c","type":"ui_group","z":"","name":"Pattern Parameters","tab":"d4dc9b03.c3e558","order":4,"disp":true,"width":"7","collapse":true},{"id":"adfded0.87f961","type":"ui_group","z":"","name":"Autoplay","tab":"d4dc9b03.c3e558","order":2,"disp":true,"width":"7","collapse":true},{"id":"12d390df.2e86ff","type":"ui_group","z":"","name":"Nanoleaf Designer","tab":"d4dc9b03.c3e558","order":5,"disp":true,"width":"12","collapse":true},{"id":"6241868f.524d08","type":"ui_group","z":"","name":"Patterns and Palette","tab":"d4dc9b03.c3e558","order":3,"disp":true,"width":"7","collapse":true},{"id":"a9feddfa.4b97a","type":"ui_group","z":"","name":"Pattern Designer","tab":"d4dc9b03.c3e558","disp":true,"width":"14","collapse":true},{"id":"8420c8f4.1d0b18","type":"ui_group","z":"","name":"Patterns","tab":"d4dc9b03.c3e558","disp":true,"width":"7","collapse":true},{"id":"d4dc9b03.c3e558","type":"ui_tab","z":"","name":"Nanoleafs","icon":"fa-lightbulb-o"}]
